{{/* User Variable */}}
{{$icon := "https://i.imgur.com/9HnsF14.png"}}

{{$name := reFind `(\>\S*)` .Message.Content}}
{{$name = joinStr "" (split $name ">")}}
{{$user := .Member.Nick}}
{{$id := .User.ID }}
{{if $name}}
	{{$user = $name}}
	{{$idperso := (toRune (lower $name))}}
	{{range $idperso}}
		{{- $id = add $id . }}
	{{- end}}
{{else if eq (len $user) 0}}
	{{$user = .User.Username}}
{{end}}
{{$alias := sdict}}{{with (dbGet 0 "Alias")}}{{$alias = sdict .Value}}{{end}}
{{with ($alias.Get $id)}}{{$user = .}}{{end}}
{{$perso := sdict}}{{with (dbGet 0 "Personnage")}}{{$perso = sdict .Value}}{{end}}
{{$open := (dbGet .Server.ID "store").Value}}
{{$userEco := sdict}}
{{with (dbGet $id "economy")}}
	{{$userEco = sdict .Value}}
{{end}}
{{$serverEco := sdict}}
{{$inv := sdict}}
{{with ($userEco.Get "Inventory")}}
  {{$inv = sdict .}}
{{end}}
{{with (dbGet .Server.ID "economy")}}
	{{$serverEco = sdict .Value}}
{{end}}

{{$symbol := ""}}
{{if $serverEco.Get "symbol"}}
	{{$symbol = $serverEco.Get "symbol"}}
{{end}}
{{if .CmdArgs}}
  {{$t := .User.ID}}
  {{$ut := .User.Username}}
  {{$rt := reFind `(\#\S*)` (index .CmdArgs 0) }}
  {{$rt = joinStr "" (split $name "#")}}
  {{if $rt}}
    {{$ut = $rt}}
    {{$idt := (toRune (lower $rt))}}
    {{with ($perso.Get $rt)}}
      {{$t = .IDR}}
    {{end}}
    {{range $idt}}
      {{- $t = add $t . }}
    {{- end}}
    {{$ut = title $ut}}
  {{else if (userArg (index .CmdArgs 0))}}
    {{with (userArg (index .CmdArgs 0))}}
      {{$t = .ID}}
      {{$ut = (getMember $t).Nick}}
      {{if eq (len $ut) 0}}
        {{$ut = .Username}}
      {{end}}
    {{end}}
  {{end}}
  {{with ($alias.Get $t)}}{{$ut = .}}{{end}}  
  {{$store := sdict}}
  {{with (dbGet $id "market")}}
    {{$store = sdict .Value}}
  {{end}}
  {{$item = title (index .CmdArgs 1)}}
  {{$di := sdict}}
  {{with ($store.Get $item)}}
    {{$di = sdict .}}
  {{end}}
  {{$q := 1}}
  {{if or (and (not $name) (ge (len .CmdArgs) 2)) (and $name (ge (len .CmdArgs 3)))}}
    {{$q = index .CmdArgs 2}}
  {{end}}
  {{if not $di}}
    {{print "L'objet n'existe pas !"}}
  {{else if not (dbGet $t "Vendeur")}}
    {{print $ut " n'est pas un vendeur."}}
  {{else if eq ((dbGet $t "Etat_Boutique").Value) "closed"}}
    {{print "La boutique de " $ut " est fermée."}}
  {{else}}
    {{with $di}}
      {{if eq .sellprice 0}}
        {{$user = joinStr " " "Vente |" (title $user)}}
        {{sendMessage nil (cembed "author" (sdict "name" $user "icon_url" $icon) "color" 0x8CBAEF "description" (print $ut " n'achète pas ce genre d'objet...")) }}
      {{else if ge (toInt ($inv.Get $item)) $q}}
        {{$bal = add $bal (mult .sellprice $q)}}
        {{$userEco.Set "balance" $bal}}
        {{$inv.Set $item (sub ($inv.Get $item) $q)}}
        {{if le ($inv.Get $item ) 0}}
          {{$inv.Del $item}}
        {{end}}
        {{$userEco.Set "Inventory" $inv}}
        {{$di.Set "stock" (add .stock $q)}}
        {{$store.Set $item $di}}
        {{$user = joinStr " " "Vente |" (title $user)}}
        {{sendMessage nil (cembed "author" (sdict "name" $user "icon_url" $icon) "color" 0x8CBAEF "description" (print $ut " a repris " $q " " $item " et vous a remboursé " (mult .sellprice $q) " " $symbol " .")) }}
      {{else}}
        {{print $user ", vous ne pouvez pas vendre autant !"}}
      {{end}}
    {{end}}
  {{end}}
{{end}}


