{{$name := (reFind `(\>\S*)` .Message.Content)}}{{$name = joinStr "" (split $name ">")}}
{{$user := .Member.Nick}}
{{$id:= .User.ID}}
{{if $name}}
	{{$user = title $name}}
	{{$idperso := (toRune (lower $name))}}
	{{range $idperso}}
		{{- $id = add $id . }}
	{{- end}}
{{else if eq (len $user) 0}}
	{{$user = .User.Username}}
{{end}}{{$hpS := sdict }}{{with (dbGet 0 "HP")}}{{$hpS = sdict .Value}}{{end}}{{with ($hpS.Get (str $id))}}{{$user = .Personnage}}{{end}}



{{/* Dict for weapon */}}
{{$arme := sdict}}
{{with (dbGet $id "arme")}}
	{{$arme = sdict .Value}}
{{end}}

{{$cmd := reFind `(fusil|fusil2|pistol(et)?|pistol(et)?2|canon|soin)` .Message.Content}}

{{$desc := ""}}
{{$msgc:=""}}
{{$msgp:=""}}
{{$msgp2 := ""}}
{{$msgf := ""}}
{{$msgf2 := ""}}
{{$mss := ""}}
{{$img := "https://i.imgur.com/YeIsRmw.png"}}

{{if eq $cmd "fusil"}}
	{{if ($arme.Get "fusil")}}
		{{$y := $arme.Get "fusil"}}
		{{$x := sub 12 $y}}
		{{if lt (toFloat $y) (toFloat 12)}}
	  	{{ $desc = (joinStr "" "Il reste " (toString (toInt $x)) "/12 balles de fusil.")}}
		{{else}}
			{{ $desc = "Fusil vide."}}
		{{end}}
	{{else}}
		{{ $desc = "Fusil chargé : Il y a actuellement 12 balles à disposition."}}
	{{end}}

{{else if eq $cmd "soin"}}
	{{$heal := sdict}}
  {{with (dbGet 0 "healer")}}
    {{$heal := sdict .Value}}
  {{end}}
  {{$id = str $id}}
	{{if ($heal.Get $id)}}
		{{$y := $heal.Get $id}}
		{{$x := sub 8 $y}}
		{{if lt (toFloat $y) (toFloat 8)}}
			{{$desc = print "Il reste " (str (toInt $x)) "/8 charges soignantes."}}
		{{else}}
			{{$desc = "Module de soin vide."}}
		{{end}}
	{{else}}
		{{$desc = "Vous ne possédez pas de module soignant, ou vous ne l'avez jamais utilisé... "}}
	{{end}}


{{else if eq $cmd "fusil2"}}
	{{if ($arme.Get "fusil2")}}
		{{$y := $arme.Get "fusil2"}}
		{{$x := sub 12 $y}}
		{{if lt (toFloat $y (toFloat) 12)}}
			{{ $desc = (joinStr "" "Il reste " (toString (toInt $x)) "/12 balles de fusil secondaire.")}}
		{{else}}
			{{ $desc = "Fusil secondaire vide. "}}
		{{end}}
	{{else}}
		{{ $desc = "Fusil secondaire chargé : Il y a actuellement 12 balles à disposition."}}
	{{end}}

{{else if eq $cmd "pistolet" "pistol"}}
	{{if ($arme.Get "pistol")}}
		{{$a := $arme.Get "pistol"}}
		{{$b := sub 8 $a}}
		{{if lt (toFloat $a) (toFloat 8)}}
			{{ $desc = (joinStr "" "Il reste " (toString (toInt $b)) "/8 balles de pistolet.")}}
		{{else}}
			{{ $desc = "Pistolet vide."}}
		{{end}}
	{{else}}
		{{$desc = "Pistolet chargé : Il y a actuellement 8 balles à disposition."}}
	{{end}}

{{else if eq $cmd "pistolet2" "pistol2"}}
	{{if ($arme.Get "pistol2")}}
		{{$a := $arme.Get "pistol2"}}
		{{$b := sub 8 $a}}
		{{if lt (toFloat $a) (toFloat 8)}}
				{{ $desc = (joinStr "" "Il reste " (toString (toInt $b)) "/8 balles de pistolet secondaire.")}}
			{{else}}
				{{ $desc = "Pistolet secondaire vide."}}
		{{end}}
	{{else}}
		{{$desc = "Pistolet secondaire chargé : Il y a actuellement 8 balles à disposition."}}
	{{end}}

{{else if eq $cmd "canon"}}
	{{if ($arme.Get "canon")}}
		{{$c := $arme.Get "canon"}}
		{{$d := sub 20 $c}}
		{{if lt (toFloat $c) (toFloat 20)}}
			{{ $desc = (joinStr "" "Il reste " (toString (toInt $d)) "/20 balles de canon.")}}
		{{else}}
			{{ $desc = "Canon vide."}}
		{{end}}
	{{else}}
		{{ $desc = "Canon chargé : Il y a actuellement 20 balles à disposition."}}
	{{end}}

{{else}}
		{{if ($arme.Get "canon")}}
			{{$ca := toFloat ($arme.Get "canon")}}
			{{$canon := (sub 20 $ca)}}
			{{if lt (toFloat $ca) (toFloat 20)}}
				{{$msgc = print "[" (toString (toInt $canon)) "/20]"}}
			{{else}}
				{{$msgc = "[0/20]"}}
			{{end}}
		{{else}}
			{{$msgc = "[20/20]"}}
		{{end}}
		
		{{$heal := sdict}}
  	{{with (dbGet 0 "healer")}}
    	{{$heal := sdict .Value}}
  	{{end}}
  	{{$id = str $id}}
		
		{{if ($heal.Get $id)}}
			{{$y := $heal.Get $id}}
			{{$x := sub 8 $y}}
			{{if lt (toFloat $y) (toFloat 8)}}
				{{$mss = print "[" (str (toInt $x)) "/8]"}}
			{{else}}
				{{$mss = "[0/8]"}}
			{{end}}
		{{else}}
			{{$mss = "[X]"}}
		{{end}}

		{{if ($arme.Get "fusil")}}
			{{$fu := $arme.Get "fusil"}}
			{{$fusil := (toFloat (sub 12 $fu))}}
			{{if lt (toFloat $fu) (toFloat 12)}}
				{{$msgf = print "[" (toString (toInt $fusil)) "/12]"}}
			{{else}}
				{{$msgf = "[0/12]"}}
			{{end}}
		{{else}}
			{{$msgf = "[12/12]"}}
		{{end}}

		{{if ($arme.Get "fusil2")}}
			{{$fu2 := ($arme.Get "fusil2")}}
			{{$fusil2 := (toFloat (sub 12 $fu2 ))}}
			{{if lt (toFloat $fu2) (toFloat 12)}}
				{{$msgf2 = print "[" (toString (toInt $fusil2)) "/12]"}}
			{{else}}
				{{$msgf2 = "[0/12]"}}
			{{end}}
		{{else}}
			{{$msgf2 = "[12/12]"}}
		{{end}}

		{{if ($arme.Get "pistol")}}
			{{$pi := ($arme.Get "pistol")}}
			{{$pistol := (toFloat (sub 8 $pi))}}
			{{if lt (toFloat $pi) (toFloat 8)}}
				{{$msgp = print "[" (toString (toInt $pistol )) "/8]"}}
			{{else}}
				{{$msgp = "[0/8]"}}
			{{end}}
		{{else}}
			{{$msgp = "[8/8]"}}
		{{end}}
		{{if ($arme.Get "pistol2")}}
			{{$pi2 := ($arme.Get "pistol2")}}
			{{$pistol2 := (toFloat (sub 8 $pi2))}}
			{{if lt (toFloat $pi2) (toFloat 8)}}
				{{$msgp2 = print "[" (toString (toInt $pistol2 )) "/8]"}}
			{{else}}
				{{$msgp2 = "[0/8]"}}
			{{end}}
		{{else}}
			{{$msgp2 = "[8/8]"}}
		{{end}}

		{{$desc = (joinStr "" ":white_small_square: **Canon** : " $msgc "\n:white_small_square: **Fusil** : " $msgf "\n:white_small_square: **Fusil secondaire** : " $msgf2 "\n:white_small_square: **Pistolet** : " $msgp "\n:white_small_square: **Pistolet secondaire** : " $msgp2 "\n :white_small_square: **Soin** : " $mss)}}
{{end}}

{{$embed := cembed
	"author" (sdict "name" $user "icon_url" $img)
	"color" 0x6CAB8E
	"description" $desc}}
{{sendMessage nil $embed}}

{{deleteTrigger 1}}
