{{$name := reFind `(\>\S*)` .Message.Content}}
{{$name = joinStr "" (split $name ">")}}
{{$user := .Member.Nick}}
{{$id := .User.ID }}
{{if $name}}
	{{$user = title $name}}
  {{$rr := sdict}}
	{{with (dbGet 0 "reroll_List")}}
		{{$rr = sdict .Value}}
	{{end}}
	{{$id = (toInt ($rr.Get $user))}}
  {{$idperso := (toRune (lower $name))}}
	{{range $idperso}}
		{{- $id = add $id . }}
	{{- end}}
{{else if eq (len $user) 0}}
	{{$user = .User.Username}}
{{end}}

{{$hp := sdict }}
{{with (dbGet 0 "HP")}}
  {{$hp = sdict .Value}}
{{end}}
{{$cmd := lower (reFind `(?i)(\$(adminhp|hpadmin)|\?(hp|pv))` .Message.Content)}}
{{$msg := ""}}

{{if eq $cmd "$adminhp" "$hpadmin"}}
  {{if .CmdArgs}}
    {{with (userArg (index .CmdArgs 0))}}
      {{$id = .}}
      {{$id = $id.ID}}
      {{$user = (getMember $id).Nick}}
      {{if eq (len $user) 0}}
        {{$user = .}}
        {{$user = $user.Username}}
      {{end}}
    {{end}}
    {{$flag := lower (reFind `(?i)\-(add|rm|edit)` .Message.Content)}}
    {{if not $flag}}
      {{$msg = "Erreur : Vous devez indiquer si vous rajouter, editer ou supprimer un joueur"}}
    {{else}}
      {{if eq $flag "-add"}}
        {{if ge (len .CmdArgs) 4}}
          {{$pvm := index .CmdArgs 2}}
          {{$reg := toInt (reFind `[0-2]` (index .CmdArgs 3))}}
          {{$en := "n"}}
          {{if ge (len .CmdArgs) 5}}
            {{if (reFind `e` (index .CmdArgs 5))}}
              {{$en = "y"}}
            {{end}}
          {{end}}
          {{if not $reg}}
            {{$reg = 0}}
          {{end}}
          {{$mush := toInt (reFind `\d+` (index .CmdArgs 4))}}
          {{if not $mush}}
            {{$mush = 0}}
          {{end}}
          {{$hp.Set (str $id) (sdict "pv_max" $pvm "pv_actuel" $pvm "regen" $reg "mush" $mush "Personnage" $user "Ennemi" $en)}}
          {{$msg = joinStr " " "PV Maximum :" $pvm "\n" "Implant :" $reg "\n Etat d'hybridation avec le mush :" $mush "\n Ennemi :" $en}}
        {{else}}
          {{$msg = "Usage : `hpadmin (@joueur / >Reroll) -add pvmax implant_regen état_mush (e)`\n Le e indique si c'est un ennemi, si vous le mettez pas, cela sera automatiquement un PNJ allié ou un PJ."}}
        {{end}}
      {{else if eq $flag "-rm"}}
        {{if $hp.Get (str $id)}}
          {{$hp.Del (str $id)}}
          {{$msg = joinStr " " $user "a bien été supprimé du groupe."}}
        {{else}}
          {{$msg = joinStr " " $user "( id :" $id ") ne fait pas parti du groupe."}}
        {{end}}
      {{else if eq $flag "-edit"}}
        {{$hpP := sdict}}
        {{with ($hp.Get (str $id))}}
          {{$hpP = sdict .}}
        {{end}}
        {{$cmd := lower (index .CmdArgs 2)}}
        {{if eq $cmd "pv"}}
          {{$pv := toInt (index .CmdArgs 3)}}
          {{$hpP.Set "pv_max" $pv}}
          {{$msg = joinStr "" "Edition des pv de " $user " : " $pv }}
        {{else if eq $cmd "regen"}}
          {{$regen := reFind `[0-2]` (index .CmdArgs 3)}}
          {{$hpP.Set "regen" $regen}}
          {{$msg = joinStr "" "Edition des implants de " $user " : " $regen}}
        {{else if eq $cmd "mush"}}
          {{$mush := reFind `\d+` (index .CmdArgs 3)}}
          {{$hpP.Set "mush" $mush}}
          {{$msg = joinStr " " "Edition de l'état mush de" $user ":" $mush}}
        {{else if eq $cmd "perso"}}
          {{$perso := index .CmdArgs 3}}
          {{$hpP.Set "Personnage" $perso}}
          {{$msg = joinStr " " "Edition du nom du personnage de " $user ":" $perso}}
        {{else if eq $cmd "ennemi"}}
          {{$en := reFind `(y|n)` (index .CmdArgs 3)}}
          {{$hpP.Set "Ennemi" $en}}
          {{$ty := ""}}
          {{if eq $en "n"}}
            {{$ty = "allié"}}
          {{else}}
            {{$ty = "ennemi"}}
          {{end}}
          {{$msg = joinStr " " "Edition du type de personnage de " $user ":" $ty}}
        {{end}}
        {{$hp.Set (str $id) $hpP}}
      {{end}}
    {{end}}
  {{end}}
{{end}}

{{if eq $cmd "?hp" "?pv"}}
  {{if not .CmdArgs}}
    {{with ($hp.Get (str $id))}}
      {{$msg = print "**" .Personnage "** : " .pv_actuel "/" .pv_max " <:pv:712052732873408703>"}}
    {{end}}
  {{else}}
    {{if (reFind `group(e?)` (index .CmdArgs 0))}}
      {{range $i, $j := $hp}}
        {{- if ne $j.Ennemi "y"}}
          {{- $msg = print $msg "**" $j.Personnage "** : " $j.pv_actuel "/" $j.pv_max " <:pv:712052732873408703>" "\n"}}
        {{end}}
      {{- end}}
    {{else if (reFind `ennemi` (index .CmdArgs 0))}}
      {{range $i, $j := $hp}}
        {{- if and ($j.Ennemi) (eq $j.Ennemi "y")}}
          {{- $msg = print $msg "**" $j.Personnage "** : " $j.pv_actuel "/" $j.pv_max " <:pv:712052732873408703>" "\n"}}
        {{- end}}
      {{- end}}
    {{else if (reFind `all` (index .CmdArgs 0))}}
      {{range $i, $j := $hp}}
        {{- $msg = print $msg "**" $j.Personnage "** : " $j.pv_actuel "/" $j.pv_max " <:pv:712052732873408703>" "\n"}}
      {{- end}}
    {{else}}
      {{$name := reFind `(\>\S*)` .Message.Content}}
      {{$name = joinStr "" (split $name ">")}}
      {{$user := .Member.Nick}}
      {{$id := .User.ID }}
    {{if $name}}
	    {{$user = title $name}}
      {{$idperso := (toRune (lower $name))}}
	    {{range $idperso}}
		    {{- $id = add $id . }}
	    {{- end}}
      {{else if (userArg (index .CmdArgs 0))}}
        {{with (userArg (index .CmdArgs 0))}}
          {{$id = .}}
          {{$id = $id.ID}}
          {{$user = (getMember $id).Nick}}
          {{if eq (len $user) 0}}
            {{$user = .}}
            {{$user = $user.Username}}
          {{end}}
        {{end}}
      {{end}}
      {{with ($hp.Get (str $id))}}
        {{$msg = print "**" .Personnage "** : " .pv_actuel "/" .pv_max " <:pv:712052732873408703>"}}
      {{end}}
    {{end}}
  {{end}}
{{end}}
{{dbSet 0 "HP" $hp}}
{{sendMessage nil $msg}}
{{deleteTrigger 1}}