{{$hp := sdict }}
{{with (dbGet 0 "HP")}}
  {{$hp = sdict .Value}}
{{end}}
{{$msg := ""}}
{{$mention := ""}}

{{range $i, $j := $hp}}
  {{ if lt (toInt $j.pv_actuel) (toInt $j.pv_max)}}
    {{ $msg = print $msg "▫️" "**__" $j.Personnage "__** : " $j.pv_actuel "/" $j.pv_max "\n"}}
  {{ end}}
{{ end}}
{{$embed := cembed
"title" "Point de vie"
"thumbnail" (sdict "url" "https://i.imgur.com/oQxsUZR.png")
"description" (joinStr " " $msg)
"color" 0x74b5cd}}

{{editMessage 736937453788725278 758114611160809512 (complexMessageEdit "embed" $embed "content" "*Note : Ce message est mis-à-jour toutes les 5 minutes.* \n *Seuls les personnages ayant perdus des PV sont affichés dans cette liste.*") }}