{{$soin := sdict}}
{{with (dbGet 0 "analgésique")}}
  {{$soin = sdict .Value}}
{{end}}

{{if .CmdArgs}}
  {{if eq (len .CmdArgs) 2}}
    {{$item := title (lower (index .CmdArgs 0))}}
    {{$regen := toInt (index .CmdArgs 1)}}
    {{$soin.Set $item $regen}}
    {{dbSet 0 "analgésique" $soin}}
    {{$item}} : {{$regen}} <:pv:712052732873408703>
  {{else}}
    **Usage** `$medoc objet soin`
  {{end}}
{{else}}
   **Usage** `$medoc objet soin`
{{end}}