
{{$name := or (reFind `(\>\S*)` .Message.Content) (reFind `<(.*)<` .Message.Content)}}
{{$name = joinStr "" (split $name ">")}}{{$name = joinStr "" (split $name "<")}}
{{$user := .Member.Nick}}
{{$id := .User.ID }}


{{if $name}}
	{{$user = title $name}}
	{{$idperso := (toRune (lower $name))}}
	{{range $idperso}}
		{{- $id = add $id . }}
	{{- end}}
{{else if eq (len $user) 0}}
	{{$user = .User.Username}}
{{end}}{{$hpS := sdict }}{{with (dbGet 0 "HP")}}{{$hpS = sdict .Value}}{{end}}{{with ($hpS.Get (str $id))}}{{$user = .Personnage}}{{end}}



{{$stats := sdict}}
{{with (dbGet $id "stats")}}
	{{$stats = sdict .Value}}
{{end}}

{{$d:= (randInt 1 10)}}

{{$real:= $d}}
{{$arg1:=""}}
{{$arg2:= ""}}
{{$res := ""}}
{{$m := $d}}
{{$i := $d}}
{{$x := $i}}
{{$y := $m}}
{{$v := (joinStr "" "(" (toString $real) ")")}}
{{$comm:=""}}

{{$seuil := (toInt 8)}}
{{$idb := (toInt 0)}}

{{$arg := 0}}
{{$argm := 0}}
{{$c := ""}}

{{$manuel := reFind `s[1-9]` .Message.Content}}
{{$match := reFind `\b(?i)(force|agi(lit(é|e))?|endu(rance)?|pr(é|e)(cision)?|intel(ligence)?|karma)` .Message.Content}}
{{$match = lower $match}}

{{if $manuel}}
	{{$seuil = (toInt (joinStr "" (split $manuel "s")))}}
	{{$idb = (toInt 0)}}
{{else if eq $match "force"}}
	{{$seuil = (toInt ($stats.Get "force"))}}
	{{$idb = (toInt ($stats.Get "i_force"))}}
{{else if eq $match "agilité" "agilite" "agi"}}
	{{$seuil = (toInt ($stats.Get "agi"))}}
	{{$idb = (toInt ($stats.Get "i_agi"))}}
{{else if eq $match "endurance" "endu"}}
	{{$seuil = (toInt ($stats.Get "endurance"))}}
	{{$idb = (toInt ($stats.Get "i_endu"))}}
{{else if eq $match "preci" "préci" "précision" "precision"}}
	{{$seuil = (toInt ($stats.Get "preci"))}}
	{{$idb = (toInt ($stats.Get "i_preci"))}}
{{else if eq $match "intel" "intelligence"}}
	{{$seuil = (toInt ($stats.Get "intelligence"))}}
	{{$idb = (toInt ($stats.Get "i_intel"))}}
{{else if eq $match "karma"}}
	{{$seuil = (toInt ($stats.Get "karma"))}}
	{{$idb = (toInt 0)}}
{{else}}
	{{$seuil = (toInt 8)}}
	{{$idb = (toInt 0)}}
{{end}}

{{$imp := ""}}

{{if le $idb 1}}
	{{$imp = "Implant"}}
{{else}}
	{{$imp = "Implants"}}
{{end}}

{{$mimp := $idb}}


{{if .CmdArgs}}
	{{$c = joinStr " " .CmdArgs}}
	{{if $name}}
		{{$c = joinStr " " (split $c $name) }}
		{{$c = joinStr " " (split $c ">")}}
		{{$c = joinStr " " (split $c "<")}}
	{{end}}

	{{if $manuel}}
		{{$c = joinStr " " (split $c $manuel) }}
	{{end}}

	{{if lt (toFloat (len .CmdArgs)) (toFloat 2)}}
	  {{if ne (toInt (index .CmdArgs 0)) (toInt 0)}}
	    {{$i := (toInt  (index .CmdArgs 0))}}
			{{$x := $i}}
			{{if gt (toInt (index .CmdArgs 0)) (toInt 0)}}
				{{$arg = 1}}
				{{if eq (toInt (index .CmdArgs 0)) (toInt 1) }}
					{{$arg1 = "Pénalité"}}
				{{else}}
					{{$arg1 = "Pénalités"}}
				{{end}}
			{{else}}
				{{$i = mult $i (toInt -1)}}
				{{$x = mult $x (toInt -1)}}
				{{$arg = 0}}
				{{$arg1 = "Bonus"}}
			{{end}}

			{{if eq $arg 0}}
				{{$i = add $i $idb}}
				{{$d = sub $d $i}}
			{{else}}
				{{$d = add $i $d}}
				{{$d = sub $d $idb}}
			{{end}}

			{{if gt $d (toInt 10)}}
				{{$d = toInt 10}}
			{{else if lt $d (toInt 0)}}
				{{$d = (toInt 0)}}
			{{end}}

			{{$res = print "Dé : " (toString $d) " " $v " | Seuil : " $seuil " | " (toString $x) " : " $arg1 " | " $imp " : " $idb}}
  	{{else}}
			{{$d = sub $d $idb}}
			{{$res = print "Dé : " (toString $d) " " $v " | Seuil : " $seuil " | " $imp " : " $idb}}
		{{end}}
	{{else}}
		{{if ne (toInt (index .CmdArgs 0)) (toInt 0) }}
			{{$i = (toInt  (index .CmdArgs 0))}}
			{{$x := $i}}
			{{if gt (toInt (index .CmdArgs 0)) (toInt 0)}}
				{{$arg = 1}}
				{{if eq (toInt (index .CmdArgs 0)) (toInt 1)}}
					{{$arg1 = "pénalité"}}
				{{else}}
					{{$arg1 = "pénalités"}}
				{{end}}
			{{else}}
				{{$arg = 0}}
				{{$i = mult $i (toInt -1)}}
				{{$x = mult $x (toInt -1)}}
				{{$arg1 = "Bonus"}}
			{{end}}

			{{if ne (toInt (index .CmdArgs 1)) (toInt 0)}}
				{{$m := (toInt (index .CmdArgs 1))}}
				{{$y := $m}}
				{{if gt $m (toInt 0)}}
					{{$argm = 1}}
					{{if eq $m (toInt 1) }}
						{{$arg2 = "Pénalité"}}
					{{else}}
						{{$arg2 = "Pénalités"}}
					{{end}}
				{{else}}
					{{$argm = 0}}
					{{$m = mult $m (toInt -1)}}
					{{$y = mult $y (toInt -1)}}
					{{$arg2 = "Bonus"}}
				{{end}}

				{{if eq $arg 0}}
					{{$i = add $i $idb}}
					{{$d = sub $d $i}}
					{{$mimp = $i}}
					{{if eq $argm 0}}
						{{$d = sub $d $m}}
					{{else}}
						{{$d = add $d $m}}
					{{end}}
				{{else}}
					{{$d = add $d $i}}
					{{if eq $argm 0}}
						{{$m = add $m $idb}}
						{{$d = sub $d $m }}
						{{$mimp = $m}}
					{{else}}
						{{$d = add $d $m}}
						{{$d = sub $d $idb}}
						{{$mimp = $d}}
					{{end}}
				{{end}}


				{{if gt $d (toInt 10)}}
					{{$d = toInt 10}}
				{{else if lt $d (toInt 0)}}
					{{$d = (toInt 0)}}
				{{end}}


				{{$res = print "Dé : " $d " " $v " | Seuil : " $seuil " | " $arg1 " : " $x " | " $arg2 " : " $y " | " $imp " : " $idb}}
			{{else}}

						{{if eq $arg 0}}
							{{$i = add $i $idb}}
							{{$d = sub $d $i}}
							{{$mimp = $i}}
						{{else}}
							{{$d = add $i $d}}
							{{$d = sub $d $idb}}
							{{$mimp = $idb}}
						{{end}}

						{{if gt $d (toInt 10)}}
							{{$d = toInt 10}}
						{{else if lt $d (toInt 0)}}
							{{$d = (toInt 0)}}
						{{end}}

				{{$res =print "Dé : " (toString $d) " " $v " | Seuil : " $seuil " |  " $arg1 " : " (toString $x) " | " $imp " : " $idb}}
			{{end}}
		{{else}}
			{{$d = sub $d $idb}}
			{{$res = print "Dé : " (toString $d) " " $v " | Seuil : " $seuil " | " $imp " : " $idb}}
		{{end}}
	{{end}}

	{{if lt (toFloat (len .CmdArgs)) (toFloat 2)}}
		{{if ne (toInt 0) (toInt (index .CmdArgs 0)) }}
			{{$comm = ""}}
		{{else}}
			{{$comm = (joinStr " " " ▬" $c ": ")}}
		{{end}}
	{{else}}
		{{if ne (toInt 0) (toInt (index .CmdArgs 0)) }}
			{{if ne (toFloat (index .CmdArgs 1)) (toFloat 0)}}
				{{if eq (toFloat 2) (toFloat (len .CmdArgs))}}
					{{$comm = ""}}
				{{else}}
					{{$comm =  joinStr " " (slice .CmdArgs 2) }}
					{{if $manuel}}
							{{$comm = joinStr " " (split $comm $manuel)}}
					{{end}}
					{{if $name}}
						{{$comm = joinStr " " (split $comm $name)}}
						{{$comm = joinStr " " (split $comm ">")}}
						{{$comm = joinStr " " (split $comm "<")}}
					{{end}}
					{{if ne $comm " "}}
						{{$comm = joinStr " " " ▬" $comm ": "}}
					{{else}}
						{{$comm = joinStr " " $comm}}
					{{end}}
				{{end}}
			{{else}}
				{{$comm =  joinStr " " (slice .CmdArgs 1)}}
				{{if $manuel}}
					{{$comm = joinStr " " (split $comm $manuel) }}
				{{end}}
				{{if $name}}
					{{$comm = joinStr "" (split $comm $name)}}
					{{$comm = joinStr " " (split $comm ">")}}
					{{$comm = joinStr " " (split $comm "<")}}

				{{end}}
				{{if ne $comm " "}}
					{{$comm = joinStr " " " ▬" $comm ": "}}
				{{else}}
					{{$comm = joinStr " " $comm}}
				{{end}}
			{{end}}
		{{else}}
			{{$comm = (joinStr " " " ▬" $c ": ") }}
		{{end}}
	{{end}}
{{else}}
	{{$res = print "Dé : " (toString $d) " " $v " | Seuil : " $seuil " | " $imp " : " $idb}}
{{end}}

{{$r := ""}}

{{$soinimg := "https://i.imgur.com/fWnxoZ4.png"}}

{{$urc := cembed
		"author" (sdict "name" $user "icon_url" $soinimg)
		"description" (joinStr "" "**Ultra critique** " $comm "*+20 PV + Bonus.")
		"footer" (sdict "text" (print "[" $res "]") )
		"color" 0xEFA3EA }}

{{$rc := cembed
		"author" (sdict "name" $user "icon_url" $soinimg)
		"description" (joinStr "" "**Réussite critique** " $comm " *+20 PV.")
		"footer" (sdict "text" (print "[" $res "]") )
		"color" 0xEFA3EA }}

{{$regen := sub 9 $d }}
{{$regen = div (mult $regen 5) 2}}

{{$r := cembed
	"author" (sdict "name" $user "icon_url" $soinimg)
		"description" (joinStr "" "**Réussite** " $comm " *+" $regen " PV.*")
		"footer" (sdict "text" (print "[" $res "]") )
		"color" 0xEFA3EA }}

{{$echec := cembed
		"author" (sdict "name" $user "icon_url" $soinimg)
		"description" (joinStr "" "**Echec du soin** " $comm)
		"footer" (sdict "text" (print "[" $res "]") )
		"color" 0xEFA3EA }}

{{$ec := cembed
		"author" (sdict "name" $user "icon_url" $soinimg)
		"description" (joinStr "" "**Echec critique du soin**" $comm "*Votre cible écope d'une altération*...")
		"footer" (sdict "text" (print "[" $res "]") )
		"color" 0xEFA3EA }}

{{if eq $d (toInt 0)}}
	{{sendMessage nil $urc}}
{{else if eq $d (toInt 1)}}
	{{sendMessage nil $rc}}
{{else if le $d $seuil}}
	{{if ge $mimp (toInt 1)}}
		{{if eq $d $seuil}}
			{{sendMessage nil $echec}}
		{{else}}
			{{sendMessage nil $r}}
		{{end}}
	{{else}}
		{{sendMessage nil $r}}
	{{end}}
{{else if or (gt $d $seuil) (lt $d (toInt 9)) }}
	{{sendMessage nil $echec}}
{{else if eq $d (toInt 10)}}
	{{sendMessage nil $ec}}
{{else if eq $d (toInt 9)}}
	{{sendMessage nil $echec}}
{{else}}
{{end}}

{{deleteTrigger 1}}
