{{$name := reFind `(\>\S*)` .Message.Content}}
{{$name = reReplace `>` $name ""}}
{{$user := .Member.Nick}}
{{$id := .User.ID }}
{{$chan := str .Channel.ID}}
{{$reste := ""}}
{{$log := 735938256038002818}}
{{if $name}}
 {{$rr := sdict}}
	{{with (dbGet 0 "reroll_List")}}
		{{$rr = sdict .Value}}
	{{end}}
	{{$user = title $name}}
  {{$id = (toInt ($rr.Get $user))}}
	{{$idperso := (toRune (lower $name))}}
	{{range $idperso}}
		{{- $id = add $id . }}
	{{- end}}
{{else if eq (len $user) 0}}
	{{$user = .User.Username}}
{{end}}{{$hpS := sdict }}{{with (dbGet 0 "HP")}}{{$hpS = sdict .Value}}{{end}}{{with ($hpS.Get (str $id))}}{{$user = .Personnage}}{{end}}
{{$sid := sdict "[E] Sac À Dos" (sdict "ps" 5 "pc" 14 "as" 3 "ac" 9) "[E] Sacoche" (sdict "ps" 4 "pc" 11 "as" 2 "ac" 6) "[E] Sacoche Ceinture" (sdict "ps" 3 "pc" 8 "as" 1 "ac" 3)}}


{{$nb := " un "}}

{{$equip := sdict}}
{{with (dbGet $id "équipement")}}
  {{$equip = sdict .Value}}
{{end}}
{{$place := sdict}}
{{with (dbGet $id "place")}}
  {{$place = sdict .Value}}
{{end}}
{{$msg := ""}}

{{$depot := sdict}}
{{with (dbGet 0 "depot_sol")}}
  {{$depot = sdict .Value}}
{{end}}
{{$sstuff := $place.Get "s_stuff"}}{{$sconso := $place.Get "s_conso"}}{{$mstuff := $place.Get "max_stuff"}}{{$mconso := $place.Get "max_conso"}}

{{if .CmdArgs}}
  {{$item := title (lower (index .CmdArgs 0))}}
  {{$amount := 1}}
  {{if gt (len .CmdArgs) 1 }}
    {{$amount = (toInt (index .CmdArgs 1))}}
    {{if $name}}
      {{$amount = 1}}
      {{if gt (len .CmdArgs) 2}}
        {{$amount = (toInt (index .CmdArgs 1))}}
        {{$nb = $amount}}
      {{end}}
    {{end}}
  {{end}}
  {{$msg = print $user " a récupéré " $nb " " $item " dans <#" $chan ">."}}
  {{$compo := lower (reFind `(?i)(bc|lc|cb|sf|cu|\[X\]|(armure moyenne)|(armure lourde)|(armure légère))` $item)}}
  {{$chargeur := reFind `(?i)chargeur` $item}}
  {{$cver := false}}
  {{$sac := (reFind `(?i)(Sacoche$|Sac à dos|(Sacoche ceinture))` $item)}}
  {{$mimp := (reFind `(?i)(perforant|burst|soutien|altération|schéma|passif|force|résistance|cognition|furtivité|vision|vitalité|guérison)` $item)}}
  {{if $chargeur}}
    {{$item = reFind `(?i)(fusil|pistolet|canon)` $item}}
    {{$item = print "[CHARGEUR] " $item}}
    {{$cver = true}}
  {{if $compo}}
    {{if eq $compo "bc"}}
      {{$item = "[C] Biocomposant"}}
    {{else if eq $compo "lc"}}
      {{$item = "[C] Liquide Cytomorphe"}}
    {{else if eq $compo "cb"}}
      {{$item = "[C] Cellule Bionotropique"}}
    {{else if eq $compo "sf"}}
      {{$item = "[C] Substrat Ferreux"}}
    {{else if eq $compo "cu"}}
      {{$item = "[C] Composant Universel"}}
    {{else if eq $compo "armure moyenne"}}
      {{$item = "[X] Armure Moyenne"}}
    {{else if eq $compo "armure lourde"}}
      {{$item = "[X] Armure Lourde"}}
    {{else if eq $compo "armure légère"}}
      {{$item = "[X] Armure Légère"}}
    {{end}}
  {{end}}
  {{else if $sac}}
    {{$item = print "[E] " (title (lower $sac))}}
  {{else if eq $mimp "perforant" "burst" "soutien" "altération" "schéma" "passif"}}
    {{$item = print "[MODULE] " $mimp}}
  {{else if eq $mimp "force" "résistance" "cognition" "furtivité" "vision" "vitalité" "guérison"}}
    {{$item = print "[IMPLANT] " $mimp}}
  {{else if and (reFind `-bdg` .Message.Content) (not $compo) (not $mimp) (ne $cver true) (not $sac) (not (reFind `\[X\]` $item))}}
    {{$item = print "[BDG]" $item }}
  {{end}}
  {{$arme := lower (reFind `(?i)(poigne|épée|masse|pistolet|fusil|canon|couteau|^\[A\]|^\[CHARGEUR\]|\[E\])` $item)}}
  {{if and (eq $arme "poigne" "épée" "masse" "pistolet" "fusil" "canon" "couteau") (ne $arme "[a]") (ne $arme "[chargeur]") (ne $arme "[e]")}}
    {{$item = print "[A] " $item}}
  {{end}}
  {{$di := sdict}}
  {{with ($depot.Get $chan)}}
    {{$di = sdict .}}
  {{end}}
  {{if or (not ($di.Get $item)) (lt (toInt ($di.Get $item)) (toInt $amount))}}
    {{$reste = print $item " n'existe pas."}}
  {{else}}    
    {{if $arme}}
      {{if and (not $sac) (ne $cver true)}}
        {{if le (toInt $amount) (toInt $sstuff) }}
          {{$place.Set "s_stuff" (sub $sstuff $amount)}}
          {{$equip.Set $item (add ($equip.Get $item) (toInt $amount))}}
          {{$di.Set $item (sub ($di.Get $item) (toInt $amount))}}
        {{else}}
          {{$reste = print $user " n'a pas assez de place dans son inventaire pour récupérer " $nb " " $item "."}}
        {{end}}
      {{else if $sac}}
        {{if or ($equip.Get "[E] Sac À Dos" ) ($equip.Get "[E] Sacoche" ) ($equip.Get "[E] Sacoche Ceinture")}}
          {{$reste = joinStr "" $user " possède déjà un sac. Merci de retirer l'ancien."}}
        {{else}}
          {{$ps := 0}}
          {{$pc := 0}}
          {{$as := 0}}
          {{$ac := 0}}
          {{with ($sid.Get $item)}}
            {{$ps = .ps}}
            {{$pc = .pc}}
            {{$as = .as}}
            {{$ac = .ac}}
          {{end}}
          {{$place.Set "s_stuff" (add $sstuff $as)}}
          {{$place.Set "s_conso" (add $sconso $ac)}}
          {{$place.Set "max_stuff" $ps}}
          {{$place.Set "max_conso" $pc}}
          {{$equip.Set $item 1}}
          {{$msg = joinStr "" $user " a récupéré " $item "."}}
          {{$equip.Set $item 1}}
          {{$di.Set $item (sub ($di.Get $item) (toInt $amount))}}
        {{end}}
      {{end}}
    {{else if or (eq $cver true) (not $compo) }}
      {{if and (le $amount (toInt $sconso))}}
        {{$place.Set "s_conso" (sub $sconso $amount)}}
        {{$equip.Set $item (add ($equip.Get $item) (toInt $amount))}}
        {{$di.Set $item (sub ($di.Get $item) (toInt $amount))}}
      {{else}}
        {{$reste = joinStr "" $user " n'a pas assez de place dans son inventaire."}}
      {{end}}
    {{else if $compo }}
      {{if and (or (eq $item "[X] Armure Moyenne") (eq $item "[X] Armure Lourde") (eq $item "[X] Armure Légère")) ($equip.Get $item) (gt $amount 1)}}
        {{$msg = print $user " porte déjà une armure."}}
      {{else}}
        {{$equip.Set $item (add ($equip.Get $item) (toInt $amount))}}
        {{$di.Set $item (sub ($di.Get $item) (toInt $amount))}}
        {{$msg = joinStr "" $user " a récupéré " $amount " " $item ", sans perte de place."}}
      {{end}}
    {{end}}
    {{if le (toInt ($place.Get "s_stuff")) 0}}
      {{$place.Set "s_stuff" 0}}
    {{end}}
    {{if le (toInt ($place.Get "s_conso")) 0}}
      {{$place.Set "s_conso" 0}}
    {{end}}
    {{if eq (toInt ($di.Get $item)) 0}}
      {{$di.Del $item}}
    {{end}}
    {{if eq (toInt ($depot.Get $chan)) 0}}
      {{$depot.Del $chan}}
    {{end}}
    
    {{$reste = joinStr "" "\n" $user " : il vous reste " ($place.Get "s_stuff") " places d'équipements et " ($place.Get "s_conso") " places de consommables. "}}
    {{dbSet $id "équipement" $equip }}
    {{dbSet $id "place" $place}}
    {{$depot.Set $chan $di}}
    {{dbSet 0 "depot_sol" $depot}}
    {{$idm := sendMessageRetID nil $reste}}
    {{deleteMessage nil $idm 60}}
    {{sendMessage $log $msg}}
  {{end}}
{{end}}
{{deleteTrigger 1}}