{{/* Databases */}}
{{$name := reFind `(\#\S*)` .Message.Content}}
{{$name = joinStr "" (split $name "#")}}
{{$user := .Member.Nick}}
{{$id := .User.ID }}
{{if $name}}
	{{$user = $name}}
	{{$idperso := (toRune (lower $name))}}
	{{range $idperso}}
		{{- $id = add $id . }}
	{{- end}}
{{else if eq (len $user) 0}}
	{{$user = .User.Username}}
{{end}}
{{$target := .User.ID}}
{{$msg := ""}}

{{if (dbGet 0 "mission")}}
	Vous n'êtes pas sur le Nucleus, vous ne pouvez donc pas équiper d'objet !
{{else}}
  {{if .CmdArgs}}
    {{if $name}}
      {{$target = $id}}
      {{$user = $name}}
    {{else}}
      {{$target = .User.ID}}
      {{$user = (getMember $target).Nick}}
    {{end}}
    {{$userEco := sdict}}
    {{if $target}}
      {{with (dbGet $target "economy")}}
        {{$userEco = sdict .Value}}
      {{end}}
      {{$inv := sdict}}
      {{with ($userEco.Get "Inventory")}}
        {{$inv = sdict .}}
      {{end}}
      {{$inv := sdict}}
      {{with ($userEco.Get "Inventory")}}
        {{$inv = sdict .}}
      {{end}}

        {{$equip := sdict}}
      {{with (dbGet $target "équipement")}}
        {{$equip = sdict .Value}}
      {{end}}

      {{$place := sdict}}
      {{with (dbGet $target "place")}}
        {{$place = sdict .Value}}
      {{end}}

      {{$sstuff := $place.Get "s_stuff"}}
      {{$sconso := $place.Get "s_conso"}}

      {{$item := (title (index .CmdArgs 0))}}
      {{$amount := 1}}
      {{if not $name}}
        {{if gt (len .CmdArgs) 1 }}
          {{$amount = (toInt (index .CmdArgs 1))}}
          {{if eq $amount 0}}
            {{$amount = str (index .CmdArgs 0)}}
          {{end}}
        {{end}}
      {{else}}
        {{if gt (len .CmdArgs) 2}}
        {{$amount = (toInt (index .CmdArgs 1))}}
          {{if eq $amount 0}}
            {{$amount = str (index .CmdArgs 0)}}
          {{end}}
        {{end}}
      {{end}}
      {{$chargeur := reFind `(?i)chargeur` $item}}
      {{if $chargeur}}
        {{$item = reFind `(?i)(fusil|pistolet|canon)` $item}}
        {{$item = print "[CHARGEUR] " $item}}
      {{end}}
      
      {{$compo := reFind `(?i)(bc|lc|cb|sf|cu)` $item}}
      {{if $compo}}
        {{if eq $compo "bc" "BC" "Bc"}}
          {{$item = "[C] Biocomposant"}}
        {{else if eq $compo "lc" "LC" "Lc"}}
          {{$item = "[C] Liquide Cytomorphe"}}
        {{else if eq $compo "cb" "CB" "Cb"}}
          {{$item = "[C] Cellule Bionotropique"}}
        {{else if eq $compo "sf" "SF" "Sf"}}
          {{$item = "[C] Substrat Ferreux"}}
        {{else if eq $compo "cu" "CU" "Cu"}}
          {{$item = "[C] Composant Universel"}}
        {{end}}
      {{end}}
      {{$sac := (reFind `(?i)(Sacoche$|Sac à dos|(Sacoche ceinture))` $item)}}
      {{if $sac}}
        {{$item = print "[E] " (title (lower $sac))}}
      {{end}}
      {{$mimp := (lower (reFind `(?i)(perforant|burst|soutien|altération|schéma|passif|force|résistance|cognition|furtivité|vision|vitalité|guérison)` $item))}}
      {{if eq $mimp "perforant" "burst" "soutien" "altération" "schéma" "passif"}}
        {{$item = print "[MODULE] " (title $mimp)}}
      {{else if eq $mimp "force" "résistance" "cognition" "furtivité" "vision" "vitalité" "guérison"}}
        {{$item = print "[IMPLANT] " (title $mimp)}}
      {{else if and (reFind `-bdg` .Message.Content) (not $mimp) (not $chargeur) (not $sac) (not $compo) (not (reFind `\[X\]` $item))}}
        {{$item = print "[BDG] " $item}}
      {{end}}
      {{if $inv.Get $item}}
        {{$value := $inv.Get $item}}
        {{$q := $amount}}
        {{if eq (str $amount) "all"}}
          {{$amount = $value}}
        {{end}}
        {{if gt (toInt $amount) (toInt $value)}}
          {{$msg = joinStr "" $user " n'a pas assez de " $item " pour faire cela. "}}
        {{else}}
          {{if le (toInt $amount) (toInt $value)}}
            {{if or (reFind `(?i)(poigne|épée|masse|pistolet|fusil|canon|couteau)` $item) (reFind `^\[E\]` $item)}}
              {{if and (not $sac) (not $chargeur) }}
                {{if le $amount $sstuff }}
                  {{$place.Set "s_stuff" (sub $sstuff $amount)}}
                  {{$equip.Set $item (add ($equip.Get $item) (toInt $amount))}}
                  {{$inv.Set $item (sub (toInt $value) (toInt $amount))}}
                  {{if eq (str $q) "all"}}
                    {{$amount = "tous les"}}
                  {{end}}
                  {{$msg = joinStr "" $user " a pris " $amount " " $item "du casier."}}
                {{else}}
                  {{$msg = joinStr "" $user " n'a pas assez de place dans son inventaire."}}
                {{end}}
              {{else if $sac}}
                {{if or ($equip.Get "[E] Sac À Dos" ) ($equip.Get "[E] Sacoche" ) ($equip.Get "[E] Sacoche Ceinture")}}
                  {{$msg = joinStr "" $user " possède déjà un sac. Merci de retirer l'ancien."}}
                {{else}}
                  {{if eq $item "[E] Sac À Dos" }}
                    {{$place.Set "s_stuff" (add $sstuff 3)}}
                    {{$place.Set "s_conso" (add $sconso 9)}}
                    {{$place.Set "max_stuff" (add $sstuff 3)}}
                    {{$place.Set "max_conso" (add $sconso 9)}}
                  {{else if eq $item "[E] Sacoche" }}
                    {{$place.Set "s_stuff" (add $sstuff 2)}}
                    {{$place.Set "s_conso" (add $sconso 6)}}
                    {{$place.Set "max_stuff" (add $sstuff 2)}}
                    {{$place.Set "max_conso" (add $sconso 6)}}
                  {{else if eq $item "[E] Sacoche Ceinture"}}
                    {{$place.Set "s_stuff" (add $sstuff 1)}}
                    {{$place.Set "s_conso" (add $sconso 3)}}
                    {{$place.Set "max_stuff" (add $sstuff 1)}}
                    {{$place.Set "max_conso" (add $sconso 3)}}
                  {{end}}
                  {{$inv.Set $item (sub (toInt $value) (toInt $amount))}}
                  {{$equip.Set $item 1}}
                  {{$msg = joinStr "" $user " a pris " $item "du casier."}}
                {{end}}
              {{else if $chargeur}}
                {{if and (le $amount (toInt $sconso))}}
                  {{$place.Set "s_conso" (sub $sconso $amount)}}
                  {{$equip.Set $item (add ($equip.Get $item) (toInt $amount))}}
                  {{$inv.Set $item (sub (toInt $value) (toInt $amount))}}
                  {{if eq (str $q) "all"}}
                    {{$amount = "tous les"}}
                  {{end}}
                  {{$msg = joinStr "" $user " a pris " $amount " " $item " du casier."}}
                {{else}}
                  {{$msg = joinStr " " $user "n'a pas assez de place dans son inventaire."}}
                {{end}}
              {{end}}
            {{else if and (not $compo) (not (reFind `\[X\]` $item))}}
              {{if le $amount (toInt $sconso)}}
                {{$place.Set "s_conso" (sub $sconso $amount)}}
                {{$equip.Set $item (add ($equip.Get $item) (toInt $amount))}}
                {{$inv.Set $item (sub (toInt $value) (toInt $amount))}}
                {{if eq (str $q) "all"}}
                  {{$amount = "tous les"}}
                {{end}}
                {{$msg = joinStr "" $user " a pris " $amount " " $item " du casier."}}
              {{else}}
                {{$msg = joinStr " " $user "n'a pas assez de place dans son inventaire."}}
              {{end}}
            {{else if or $compo (reFind `\[X\]` $item)}}
              {{$equip.Set $item (add ($equip.Get $item) (toInt $amount))}}
              {{$inv.Set $item (sub (toInt $value) (toInt $amount))}}
              {{$msg = joinStr "" $user " : vous rangez dans votre inventaire" $amount " " $item ", sans prise de place."}}
            {{end}}
            {{if le (toInt ($inv.Get $item)) 0}}
              {{$inv.Del $item}}
            {{end}}
            {{if le (toInt ($place.Get "s_stuff")) 0}}
              {{$place.Set "s_stuff" 0}}
            {{end}}
            {{if le (toInt ($place.Get "s_conso")) 0}}
              {{$place.Set "s_conso" 0}}
            {{end}}
            {{$userEco.Set "Inventory" $inv}}
            {{dbSet $target "economy" $userEco}}
            {{dbSet $target "équipement" $equip}}
            {{dbSet $target "place" $place}}
            {{$msg = joinStr "" $msg "\n" $user " : Il vous reste " ($place.Get "s_stuff") " places d'équipements et " ($place.Get "s_conso") " places de consommables."}} 
          {{end}}
        {{end}}
      {{else}}
        {{$msg = joinStr "" $user " : cet objet n'est pas présent dans le casier : vous ne pouvez donc pas l'utiliser."}}
      {{end}}
    {{end}}
  {{end}}
  {{sendMessage nil $msg}}
{{end}}
{{deleteTrigger 1}}