{{$name := reFind `(\>\S*)` .Message.Content}}{{$name = reReplace `>` $name ""}}
{{$user := .User.Username }}
{{$id := .User.ID}}
{{if .CmdArgs}}
	{{$id = toInt (index .CmdArgs 0)}}
{{end}}
{{if $name}}
	{{$user = title $name}}
  {{$rr := sdict}}
  {{with (dbGet 0 "reroll_List")}}
    {{$rr = sdict .Value}}
  {{end}}
  {{$id = toInt ($rr.Get $user)}}
	{{$idperso := (toRune (lower $name))}}
	{{range $idperso}}
		{{- $id = (add $id .)}}
	{{- end}}
  {{$rr.Del $user}}
  {{dbSet 0 "reroll_List" $rr}}
{{end}}
{{$hpS := sdict }}{{with (dbGet 0 "HP")}}{{$hpS = sdict .Value}}{{end}}{{with ($hpS.Get (str $id))}}{{$user = .Personnage}}{{end}}

{{$groupe := sdict}}
{{with (dbGet .Server.ID "groupe")}}
	{{$groupe = sdict .Value}}
{{end}}
{{$bool := "false"}}
{{range $i, $j := $groupe}}
  {{- if eq (str $id) $i}}
    {{- $bool = "true"}}
  {{- end -}}
{{end}}
{{$pos := sdict}}
{{with (dbGet 0 "position")}}
  {{$pos = sdict .Value}}
{{end}}

{{range $i, $j := $pos}}
  {{$j = sdict $j}}
  {{range $k, $v := $j}}
      {{$v = sdict $v}}
      {{$v.Del $user }}
      {{$j.Set $k $v}}
      {{$pos.Set $i $j}}
  {{end}}
{{end}}
{{dbSet 0 "position" $pos}}
{{if eq $bool "true"}}
  {{$groupe.Del (str $id)}}
{{end}}
{{dbSet .Server.ID "groupe" $groupe}}
{{$heal := sdict}}
{{with (dbGet 0 "healer")}}
    {{$heal = sdict .Value}}
{{end}}
{{if $heal.Get (str $id)}}
  {{$heal.Del (str $id)}}
{{end}}
{{dbSet 0 "healer" $heal}}


{{$room := sdict}}
{{with (dbGet 0 "room")}}
  {{$room = sdict .Value}}
{{end}}
{{range $i, $j := $room}}
  {{$j = sdict $j}}
  {{$j.Del (str $id)}}
  {{$room.Set $i $j}}
{{end}}
{{dbSet 0 "room" $room}}

{{if $hpS.Get (str $id)}}
  {{$hpS.Del (str $id)}}
{{end}}
{{dbSet 0 "HP" $hpS}}
{{$embed := cembed
  "description" (joinStr "" $user " aka " $id " a bien été supprimé de la base de données")}}
{{sendMessage nil $embed}}