
{{/* Stats dictionnaire */}}

{{$perso := sdict}}
{{with (dbGet 0 "Personnage" )}}
	{{$perso = sdict .Value}}
{{end}}

{{$user := .User.Nick}}
{{if eq (len $user) 0}}
	{{$user = .User.Username}}
{{end}}
{{$idR := .User.ID}}
{{$id := .User.ID}}

{{if .CmdArgs}}
	{{if eq (index .CmdArgs 0) "-new"}}
		{{$user = (index .CmdArgs 1) }}
		{{if (reFind `(\>\S*)` $user)}}
			{{$user = (reReplace ">" $user "")}}
			{{$idp := toRune (lower $user)}}
			{{with (reFind `<@!?\d{17,}>` .Message.Content)}}
				{{$id = .}}
				{{$id = $id.ID}}
			{{end}}
			{{$idR = $id}}
			{{range $idp}}
				{{- $id = add $id .}}
			{{- end}}
		{{else if (reFind `<@!?\d{17,}>` $user)}}
			{{$user = userArg $user}}
			{{$id = $user.ID}}
			{{$idR = $id}}
			{{$user = (getMember $id).Nick}}
			{{if eq (len $user) 0}}
				{{$user = $user.Username}}
			{{end}}
		{{end}}
		{{$user = title $user}}
		
		{{$perso.Set $user (sdict "ID" $id "IDR" $idR "shop" "n")}}
		{{print $user "a bien été rajouté à la base de donnée !"}}
		{{dbSet 0 "Personnage" $perso}}
	{{else if eq (index .CmdArgs 0) "-rm"}}
		{{$user = (index .CmdArgs 1) }}
		{{if (reFind `(\>\S*)` $user)}}
			{{$user = title (reReplace ">" $user "")}}
			{{$idp := toRune (lower $user)}}
			{{with ($perso.Get $user)}}
				{{$id = .IDR}}
			{{end}}
			{{$id = .}}
			{{$id = $id.ID}}
			{{$idR = $id}}
			{{range $idp}}
				{{- $id = add $id .}}
			{{- end}}
		{{else if (reFind `<@!?\d{17,}>` $user)}}
			{{$user = userArg $user}}
			{{$user = (getMember $id).Nick}}
			{{if eq (len $user) 0}}
				{{$user = $user.Username}}
			{{end}}
			{{$perso.Del $user}}
			{{print $user " a bien été supprimé de la DB."}}
			{{dbSet 0 "Personnage" $perso}}
		{{end}}
	{{else if eq (index .CmdArgs 0) "-name"}}
		{{$user = (index .CmdArgs 1) }}
		{{if (reFind `(\>\S*)` $user)}}
			{{$user = title (reReplace ">" $user "")}}
			{{$idp := toRune (lower $user)}}
			{{with ($perso.Get $user)}}
				{{$id = .IDR}}
			{{end}}
			{{$id = .}}
			{{$id = $id.ID}}
			{{$idR = $id}}
			{{range $idp}}
				{{- $id = add $id .}}
			{{- end}}
			{{dbSet 0 "Personnage" $perso}}
		{{end}}
	{{else}}
		{{print "Usage : \n `$set (-new|rm) >@cible (@joueur) \n La deuxième mention est à préciser UNIQUEMENT pour les reroll. "}}
	{{end}}
{{else}}
	{{print "Usage : \n `$set (-new|rm) >@cible (@joueur) \n La deuxième mention est à préciser UNIQUEMENT pour les reroll. "}}
{{end}}