{{/*All message database counter*/}}
{{$time := sdict }}
{{with (dbGet 0 "time")}}
	{{$time = sdict .Value}}
{{end}}
{{$log := 716988208205791342}}

{{$amount := toFloat ($time.Get "mgsc")}}
{{if .CmdArgs}}
    {{if eq (index .CmdArgs 0) "cycle"}}
        {{if eq (len .CmdArgs) 2}}
            {{$floatArg := (toFloat (index .CmdArgs 1)) }}
            {{$arg1 := (toFloat (index .CmdArgs 1)) }}
            {{if ge (toFloat 4) $floatArg }}
                {{$time.Set "cycle" $arg1}}
                Nous sommes actuellement au cycle  `{{$time.Get "cycle"}}`.
            {{else}}
              Le nombre est supérieur à 4.
            {{end}}
        {{else}}
            **Usage:** cycle <number>
        {{end}}

    {{else if eq (index .CmdArgs 0) "speed"}}
      {{if eq (len .CmdArgs) 2}}
          {{$time.Set "mgsc" (index .CmdArgs 1)}}
          Le nombre de message pour passer un cycle est maintenant fixé à : `{{(index .CmdArgs 1)}}`.
      {{else}}
          **Usage** : timer <number>
      {{end}}

    {{else if eq (index .CmdArgs 0) "day"}}
      {{if eq (len .CmdArgs) 2}}
        {{$floatArg := (toFloat (index .CmdArgs 1)) }}
        {{$time.Set "jour" (toFloat (index .CmdArgs 1)) }}
        {{$jour := (toString (toInt ($time.Get "jour")))}}
        Nous sommes maintenant au jour : `{{$jour}}`.
      {{else}}
        **Usage** day <number>
      {{end}}
    {{else if eq (index .CmdArgs 0) "pause"}}
      {{if not (dbGet 0 "pause")}}
        {{dbSet 0 "pause" "Y"}}
        Le temps a été mis en pause !
        {{$icon := (joinStr "" "https://cdn.discordapp.com/icons/" (toString .Guild.ID) "/" .Guild.Icon ".png")}}
        {{$embed := cembed
        "author" (sdict "name" "Vaisseau Nucleus" "icon_url" $icon)
        "title" (joinStr "" "JOUR " ($time.Get "jour") " ▬ CYCLE " ($time.Get "cycle"))
        "description" (joinStr "" "Le temps a été mis en pause par : " .User.Mention ".")
        "color" 0x472d67
        "timestamp" .Message.Timestamp}}
        {{sendMessage $log $embed}}
      {{else}}
        {{dbDel 0 "pause"}}
        {{$icon := (joinStr "" "https://cdn.discordapp.com/icons/" (toString .Guild.ID) "/" .Guild.Icon ".png")}}
        {{$embed := cembed
        "author" (sdict "name" "Vaisseau Nucleus" "icon_url" $icon) 
        "title" (joinStr "" "JOUR " ($time.Get "jour") " ▬ CYCLE " ($time.Get "cycle"))
        "description" (joinStr "" "Le temps a été réactivé par : " .User.Mention ".")
        "color" 0x472d67
        "timestamp" .Message.Timestamp}}
        {{sendMessage $log $embed}}
      {{end}}

    {{else if eq (index .CmdArgs 0) "msg"}}
        {{if eq (len .CmdArgs) 2}}
            {{$floatArg := (toFloat (index .CmdArgs 1)) }}
            {{$arg1 := (toFloat (index .CmdArgs 1)) }}
            {{if ge $amount $floatArg  }}
              {{$time.Set "count" $arg1}}
	            {{$time.Set "message" $arg1}}
              Il y a actuellement `{{$time.Get "count"}}` messages dans le cycle.
            {{else}}
            Nombre supérieur au nombre de message fixé.
            {{end}}
        {{else}}
        **Usage:** msg <number>
        {{end}}
    {{end}}
{{else}}
**Usage:** <cycle|msg|day|speed|stop> <number>
{{end}}
{{dbSet 0 "time" $time}}
{{deleteTrigger 1}}