{{/*All message database counter*/}}
{{$time := sdict }}
{{with (dbGet 0 "time")}}
	{{$time = sdict .Value}}
{{end}}
{{$chan := 767723846220382228}}

{{$number:= ($time.Get "cycle")}}
{{$txt := ($time.Get "message") }}
{{$pourcent := 0}}
{{$msg := ""}}

{{$msgc := (toFloat ($time.Get "mgsc"))}}
{{if ge $msgc (toFloat 100)}}
	{{$pourcent := div $msgc 100}}
	{{if lt $pourcent (toFloat 1)}}
		{{$pourcent = (toFloat 1)}}
	{{end}}
	{{ $msg = (json (roundEven (div ($time.Get "message") $pourcent))) }}
{{else}}
	{{$msg = json (mult (div $txt $msgc) 100)}}
{{end}}

{{$val := (joinStr " " (toString (toInt $txt)) "message(s) dans le cycle")}} {{/* Footer message */}}

{{/* Embed */}}
{{$embed := cembed
	"title" (joinStr "" "Jour : " ($time.Get "jour"))
	"description" (joinStr "" "**Cycle** : " (toString (toInt $number)) "\n" $msg " % du cycle est passé...")
	"color" 0xDD99DF
	"thumbnail" (sdict "url" "")
	"footer" (sdict "text" $val)
	"timestamp" .Message.Timestamp}}
{{$str := structToSdict $embed}}
{{ range $k, $v := $str }}
 	{{- if eq (kindOf $v true) "struct" }}
 		{{- $str.Set $k (structToSdict $v) }}
 	{{- end -}}
{{ end }}

{{$y := (toFloat ($time.Get "cycle"))}}

{{/* Thumbnail */}}
	{{$aube := "https://i.imgur.com/vvQxj4h.png"}}
	{{$matin:="https://i.imgur.com/ZB5yT5s.png"}}
	{{$midi:="https://i.imgur.com/AFOj90o.png"}}
	{{$aprem := "https://i.imgur.com/42seFn1.png"}}
	{{$soir:="https://i.imgur.com/xSDYgqD.png"}}
	{{$nuit:="https://i.imgur.com/e04keB7.png"}}

{{if eq $y (toFloat 1)}}
	{{$str.Thumbnail.Set "url" $aube}}
	{{$str.Set "color" 0xEB94C5}}
	{{sendMessage $chan (cembed $str)}}
{{else if eq $y (toFloat 2)}}
	{{$str.Thumbnail.Set "url" $matin}}
	{{$str.Set "color" 0xDD99DF}}
	{{sendMessage $chan (cembed $str)}}
{{else if eq $y (toFloat 3)}}
	{{$str.Thumbnail.Set "url" $midi}}
	{{$str.Set "color" 0xF0B535}}
	{{sendMessage $chan (cembed $str)}}
{{else if eq $y (toFloat 4)}}
	{{$str.Thumbnail.Set "url" $aprem}}
	{{$str.Set "color" 0xF6B227}}
	{{sendMessage $chan (cembed $str)}}
{{else if eq $y (toFloat 5)}}
	{{$str.Thumbnail.Set "url" $soir}}
	{{$str.Set "color" 0xF67327}}
	{{sendMessage $chan (cembed $str)}}
{{else if eq $y (toFloat 6)}}
	{{$str.Thumbnail.Set "url" $nuit}}
	{{$str.Set "color" 0x1B3175}}
	{{sendMessage $chan (cembed $str)}}
{{end}}
{{deleteTrigger 1}}
