{{/*All message database counter*/}}
{{$time := sdict }}
{{with (dbGet 0 "time")}}
	{{$time = sdict .Value}}
{{end}}

{{$number:= ($time.Get "cycle")}}
{{$txt := ($time.Get "message") }}
{{$pourcent := 0}}
{{$msg := ""}}

{{$msgc := (toFloat ($time.Get "mgsc"))}}
{{if ge $msgc (toFloat 100)}}
	{{$pourcent := div $msgc 100}}
	{{if lt $pourcent (toFloat 1)}}
		{{$pourcent = (toFloat 1)}}
	{{end}}
	{{ $msg = (json (roundEven (div ($time.Get "message") $pourcent))) }}
{{else}}
	{{$msg = json (mult (div $txt $msgc) 100)}}
{{end}}

{{$val := (joinStr " " (toString (toInt $txt)) "message(s) dans le cycle")}} {{/* Footer message */}}

{{/* Embed */}}
{{$embed := cembed
	"title" (joinStr "" "Jour : " ($time.Get "jour"))
	"description" (joinStr "" "**Cycle** : " (toString (toInt $number)) "\n" $msg " % du cycle est passé...")
	"color" 0xDD99DF
	"thumbnail" (sdict "url" "")
	"footer" (sdict "text" $val)
	"timestamp" .Message.Timestamp}}
{{$str := structToSdict $embed}}
{{ range $k, $v := $str }}
 	{{- if eq (kindOf $v true) "struct" }}
 		{{- $str.Set $k (structToSdict $v) }}
 	{{- end -}}
{{ end }}

{{$y := (toFloat ($time.Get "cycle"))}}

{{/* Thumbnail */}}
{{$nuit:="https://i.imgur.com/e04keB7.png"}}
{{$matin:="https://i.imgur.com/ZB5yT5s.png"}}
{{$midi:="https://i.imgur.com/AFOj90o.png"}}
{{$soir:="https://i.imgur.com/xSDYgqD.png"}}

{{if or (eq $y (toFloat 1)) (eq $y (toFloat 2))}}
	{{$str.Thumbnail.Set "url" $nuit }}
	{{$str.Set "color" 0x1B3175}}
	{{ sendMessage nil (cembed $str)}}

{{else if or (eq $y (toFloat 3)) (eq $y (toFloat 4))}}
	{{$str.Thumbnail.Set "url" $matin}}
	{{$str.Set "color" 0xDD99DF}}
	{{ sendMessage nil (cembed $str)}}


{{else if or (eq $y (toFloat 5)) (eq $y (toFloat 6))}}
	{{$str.Thumbnail.Set "url" $midi}}
	{{$str.Set "color" 0xF0B535}}
	{{ sendMessage nil (cembed $str)}}
{{end}}

{{deleteTrigger 1}}
