{{/* Databases */}}
{{$name := reFind `(\#\S*)` .Message.Content}}
{{$name = joinStr "" (split $name "#")}}
{{$user := .Member.Nick}}
{{$id := .User.ID }}
{{if $name}}
	{{$user = $name}}
	{{$idperso := (toRune (lower $name))}}
	{{range $idperso}}
		{{- $id = add $id . }}
	{{- end}}
{{else if eq (len $user) 0}}
	{{$user = .User.Username}}
{{end}}
{{$target := .User.ID}}
{{$mention := ""}}

{{if .CmdArgs}}
	{{if $name}}
    {{$target = $id}}
    {{$user = $name}}
    {{$mention = $name}}
	{{else}}
    {{$target = .User.ID}}
    {{$mention = joinStr "" "<@" $target ">"}}
    {{$user = (getMember $target).Nick}}
  {{end}}
  {{$userEco := sdict}}
  {{if $target}}
    {{with (dbGet $target "economy")}}
      {{$userEco = sdict .Value}}
    {{end}}
    {{$inv := sdict}}
    {{with ($userEco.Get "Inventory")}}
      {{$inv = sdict .}}
    {{end}}
    {{$equip := sdict}}
    {{with (dbGet $target "équipement")}}
      {{$equip = sdict .Value}}
    {{end}}

    {{$place := sdict}}
    {{with (dbGet $target "place")}}
      {{$place = sdict .Value}}
    {{end}}

    {{$stot := 7 }}
    {{if ($place.Get "s_tot")}}
      {{$stot = $place.Get "s_tot"}}
    {{else}}
      {{$place.Set "s_tot" 7}}
    {{end}}
    {{$sconso := 5}}
    {{if ($place.Get "s_conso")}}
      {{$sconso = $place.Get "s_conso"}}
    {{else}}
      {{$place.Set "s_conso" 5}}
    {{end}}
    {{$sstuff := 2}}
    {{if ($place.Get "s_stuff")}}
      {{$sstuff = $place.Get "s_stuff"}}
    {{else}}
      {{$place.Set "s_stuff" 2}}
    {{end}}

    {{$item := title (index .CmdArgs 0)}}
    {{$amount := 1}}
    {{if gt (len .CmdArgs) 1 }}
      {{$amount = (toInt (index .CmdArgs 0))}}
      {{$item = title (index .CmdArgs 1)}}
      {{if $name}}
        {{$item = title (index .CmdArgs 0)}}
        {{$amount = 1}}
        {{if gt (len .CmdArgs) 2}}
          {{$amount = (toInt (index .CmdArgs 0))}}
          {{$item = title (index .CmdArgs 1)}}
        {{end}}
      {{end}}
    {{end}}

    {{$chargeur := reFind `(?i)chargeur` $item}}
    {{$compo := reFind `(?i)(bc|lc|cb|sf|cu)` $item}}

    {{if $compo}}
      {{if eq $compo "bc" "BC" "Bc"}}
        {{$item = "[C] Biocomposant"}}
      {{else if eq $compo "lc" "LC" "Lc"}}
        {{$item = "[C] Liquide Cytomorphe"}}
      {{else if eq $compo "cb" "CB" "Cb"}}
        {{$item = "[C] Cellule Bionotropique"}}
      {{else if eq $compo "sf" "SF" "Sf"}}
        {{$item = "[C] Substrat Ferreux"}}
      {{else if eq $compo "cu" "CU" "Cu"}}
        {{$item = "[C] Composant Universel"}}
      {{end}}
    {{end}}

    {{if $chargeur}}
      {{$item = reFind `(?i)(fusil|pistolet|canon)` $item}}
      {{$item = print "[CHARGEUR] " $item}}
    {{end}}

    {{if and ($equip.Get $item) (lt $amount (toInt ($equip.Get $item)))}}
      {{$inv.Set $item (add (toInt ($inv.Get $item)) $amount)}}
      {{$equip.Set $item (sub (toInt ($equip.Get $item)) $amount)}}
      {{if or (reFind `(?i)(poigne|épée|masse|projectile|grenade|pistolet|fusil|canon)` $item) (reFind `^[E]` $item)}}
        {{if not (reFind `(?i)(Sacoche|Sac à dos|Sacoche ceinture)` $item)}}
          {{$equip.Set "s_stuff" (add $sstuff $amount)}}
          {{$equip.Set "s_tot" (add $stot $amount)}}
        {{else}}
          {{if eq $item "[E] Sac À Dos" }}
            {{$place.Set "s_stuff" (sub $sstuff 3)}}
            {{$place.Set "s_conso" (sub $sconso 9)}}
            {{$place.Set "s_tot" (sub $stot 12)}}
            {{if or (lt $sstuff 0) (lt $sconso 0) (lt $stot 0)}}
              {{$mention}} votre {{$item}} est rempli ! Videz le avant de le ranger.
            {{end}}
          {{else if eq $item "[E] Sacoche" }}
            {{$place.Set "s_stuff" (sub $sstuff 2)}}
            {{$place.Set "s_conso" (sub $sconso 6)}}
            {{$place.Set "s_tot" (sub $stot 8)}}
            {{if or (lt $sstuff 0) (lt $sconso 0) (lt $stot 0)}}
              {{$mention}} votre {{$item}} est rempli ! Videz le avant de le ranger.
            {{end}}
          {{else if eq $item "[E] Sacoche Ceinture"}}
            {{$place.Set "s_stuff" (sub $sstuff 1)}}
            {{$place.Set "s_conso" (sub $sconso 3)}}
            {{$place.Set "s_tot" (sub $stot 4)}}
            {{if or (lt $sstuff 0) (lt $sconso 0) (lt $stot 0)}}
              {{$mention}} votre {{$item}} est rempli ! Videz le avant de le ranger.
            {{end}}
          {{end}}
        {{end}}
      {{else if not $compo}}
        {{$place.Set "s_conso" (add $sconso $amount)}}
        {{$place.Set "s_tot" (add $stot $amount)}}
      {{end}}
            
      {{if eq ($equip.Get $item) 0}}
        {{$equip.Del $item}}
      {{end}}
      {{if eq (toInt $amount) 1}}
        L'objet {{$item}} a été ajouté au casier de {{$mention}}
      {{else}}
        {{$amount}} {{$item}} ont été ajouté au casier de {{$mention}}
      {{end}}
      {{$userEco.Set "Inventory" $inv}}
      {{dbSet $target "economy" $userEco}}
      {{dbSet $target "équipement" $equip }}
      {{dbSet $target "place" $place}}
    {{else}}
      {{$mention}} : L'objet n'existe pas dans votre équipement, ou vous n'avez pas la quantité ciblée. 
    {{end}}
  {{end}}
{{end}}


