{{/* Databases */}}
{{$name := reFind `(\>\S*)` .Message.Content}}
{{$name = reReplace `>` $name ""}}

{{$user := .Member.Nick}}
{{$id := .User.ID }}
{{if $name}}
	{{$user = title $name}}
	{{$idperso := (toRune (lower $name))}}
	{{range $idperso}}
		{{- $id = add $id . }}
	{{- end}}
	{{dbSetExpire $id "rerollName" $name 3600}}
{{else if eq (len $user) 0}}
	{{$user = .User.Username}}
{{end}}{{$hpS := sdict }}{{with (dbGet 0 "HP")}}{{$hpS = sdict .Value}}{{end}}{{with ($hpS.Get (str $id))}}{{$user = .Personnage}}{{end}}


{{/* Inventory */}}
{{$equip := sdict}}
{{with (dbGet $id "équipement")}}
	{{$equip = sdict .Value}}
{{end}}

{{$place := sdict}}
{{with (dbGet $id "place")}}
	{{$place = sdict .Value}}
{{end}}


{{$desc := "Tu n'as rien d'équipé ! N'hésite pas à aller voir ton casier, l'inventaire du Nucleus, ou le shop !"}}
{{$footer := print "Page: 1 / 1 | #" $id }}
{{$end :=""}}
{{$cslice := cslice}}
{{range $k,$v := $equip}}
	{{$cslice = $cslice.Append (printf " :white_small_square: ** %-10v **  : [%v]" $k $v)}}
{{end}}
{{if $cslice}}
{{/* hell starts */}}
	{{$page := "1"}}
	{{if .CmdArgs}}
		{{$index := 0}}
		{{if ge (len .CmdArgs) 2}}
			{{$index = 1}}
		{{end}}
		{{$page = or (toInt (index .CmdArgs $index)) 1}}
		{{$page = toString $page}}
	{{end}}
		{{$end = roundCeil (div (toFloat (len $cslice)) 10)}}
	{{$footer = print "Page: " $page " / " $end " | #" $id }}
	{{$start := (mult 10 (sub $page 1))}}
	{{$stop := (mult $page 10)}}
	{{$data := ""}}
	{{if ge $stop (len $cslice)}}
		{{$stop = (len $cslice)}}
	{{end}}
	{{if not (eq $page "0")}}
		{{if and (le $start $stop) (ge (len $cslice) $start) (le $stop (len $cslice))}}
			{{range (seq $start $stop)}}
				{{$data = (print $data "\n" (index $cslice .))}}
			{{else}}
				{{$data = "Il n'y a rien ici..."}}
				{{$footer = print "Page : " $page " / " $end " | #" $id }}
			{{end}}
		{{else}}
			{{$data = "Il n'y a rien ici..."}}
{{$footer = print "Page: " $page " / " $end " | #" $id }}
		{{end}}
			{{$desc = print "" $data ""}}
	{{end}}

{{/* hell ends */}}
{{end}}
{{$sconso := $place.Get "s_conso"}}
{{$sstuff := $place.Get "s_stuff"}}
{{$mstuff := $place.Get "max_stuff"}}
{{$mconso := $place.Get "max_conso"}}
{{$author := (joinStr "" "Équipement [" $sstuff "/" $mstuff "] | Consommable [" $sconso "/" $mconso "]") }}
{{$title := (joinStr " " "Équipement de" $user)}}

{{$id := sendMessageRetID nil (cembed "author" (sdict "name" $author) "thumbnail" (sdict "url" "https://i.imgur.com/ha7nksE.png") "color" 0x8CBAEF "description" $desc "footer" (sdict "text" $footer) "title" $title)}}
{{addMessageReactions nil $id "◀️" "▶️" "🗑️" "📱"}}
{{deleteTrigger 1}}
