{{/* Databases */}}
{{$name := or (reFind `(\>\S*)` .Message.Content) (reFind `<(.*)<` .Message.Content)}}{{$name = joinStr "" (split $name ">")}}{{$name = joinStr "" (split $name "<")}}
{{$user := .Member.Nick}}
{{$id := .User.ID }}
{{if $name}}
	{{$user = title $name}}
	{{$idperso := (toRune (lower $name))}}
	{{range $idperso}}
		{{- $id = add $id . }}
	{{- end}}
{{else if eq (len $user) 0}}
	{{$user = .User.Username}}
{{end}}{{$hpS := sdict }}{{with (dbGet 0 "HP")}}{{$hpS = sdict .Value}}{{end}}{{with ($hpS.Get (str $id))}}{{$user = .Personnage}}{{end}}

{{$msg := "a utilisé"}}
{{$number := "un"}}

{{$equip := sdict}}
{{with (dbGet $id "équipement")}}
  {{$equip = sdict .Value}}
{{end}}
{{$place := sdict}}
{{with (dbGet $id "place")}}
  {{$place = sdict .Value}}
{{end}}
{{$soin := sdict}}
{{with (dbGet 0 "analgésique")}}
  {{$soin = sdict .Value}}
{{end}}

{{$hpS := sdict }}
{{with (dbGet 0 "HP")}}
  {{$hpS = sdict .Value}}
{{end}}
{{$hp := sdict}}
{{with ($hpS.Get (str $id))}}
  {{$hp = sdict .}}
{{end}}

{{$sstuff := $place.Get "s_stuff"}}
{{$sconso := $place.Get "s_conso"}}
{{$mstuff := $place.Get "max_stuff"}}
{{$mconso := $place.Get "max_conso"}}

{{if .CmdArgs}}
  {{$item := title (index .CmdArgs 0)}}
   {{$amount := 1}}
  {{if gt (len .CmdArgs) 1 }}
    {{$amount = (toInt (index .CmdArgs 1))}}
    {{if $name}}
      {{$amount = 1}}
      {{if gt (len .CmdArgs) 2}}
        {{$amount = (toInt (index .CmdArgs 1))}}
        {{$number = $amount}}
      {{end}}
    {{end}}
  {{end}}
  {{$msg = joinStr "" $user " a utilisé" $number $item "."}}
  {{$compo := reFind `(?i)(bc|lc|cb|sf|cu)` $item}}
  {{$mimp := lower (reFind `(?i)(perforant|burst|soutien|altération|schéma|passif|force|résistance|cognition|furtivité|vision|vitalité|guérison)` $item)}}
  {{if eq $mimp "perforant" "burst" "soutien" "altération" "schéma" "passif"}}
    {{$item = print "[MODULE] " (title $mimp)}}
    {{$msg = joinStr "" $user " a fixé" $number $item "."}}
  {{else if eq $mimp "force" "résistance" "cognition" "furtivité" "vision" "vitalité" "guérison"}}
    {{$item = print "[IMPLANT] " (title $mimp)}}
    {{$msg = joinStr "" $user " a fixé" $number $item "."}}
  {{end}}
  {{if ($equip.Get $item)}}
    {{if or (not $compo) (not (reFind `(?i)(poigne|épée|masse|pistolet|fusil|canon|^\[A\]|chargeur|^\[E\]|^\[X\])` $item))}}
      {{if (reFind `-bdg` .Message.Content)}}
        {{$item = print "[BDG] " $item}}
      {{end}}
        {{if lt $amount (toInt ($equip.Get $item))}}
          {{if ($soin.Get $item)}}
            {{if lt (toInt ($hp.Get "pv_actuel")) (toInt ($hp.Get "pv_max"))}}
              {{$hp.Set "pv_actuel" (add (toInt ($hp.Get "pv_actuel")) (toInt ($soin.Get $item)))}}
              {{if ge (toInt ($hp.Get "pv_actuel")) (toInt ($hp.Get "pv_max"))}}
                {{$hp.Set "pv_actuel" (toInt ($hp.Get "pv_max"))}}
              {{end}}
              {{$msg = print $user " a regagné " ($soin.Get $item) "<:pv:712052732873408703>. \n" $user " a maintenant " (toInt ($hp.Get "pv_actuel")) " <:pv:712052732873408703>."}}
              {{$place.Set "s_conso" (add $amount $sconso)}}
              {{$equip.Set $item (sub (toInt ($equip.Get $item)) $amount)}}
              {{$hpS.Set $user $hp}}
              {{dbSet 0 "HP" $hpS}}
            {{else}}
              {{$msg = "Vous ne pouvez pas vous soigner pour le moment : vos HP sont au maximum."}}
            {{end}}
          {{else}}
            {{$place.Set "s_conso" (add $amount $sconso)}}
            {{$equip.Set $item (sub (toInt ($equip.Get $item)) $amount)}}
          {{end}}
        {{else if eq $amount (toInt ($equip.Get $item))}}
          {{if ($soin.Get $item)}}
            {{if lt (toInt ($hp.Get "pv_actuel")) (toInt ($hp.Get "pv_max"))}}
              {{$hp.Set "pv_actuel" (add (toInt ($hp.Get "pv_actuel")) (toInt ($soin.Get $item))) }}
              {{if ge (toInt ($hp.Get "pv_actuel")) (toInt ($hp.Get "pv_max"))}}
                {{$hp.Set "pv_actuel" ($hp.Get "pv_max")}}
              {{end}}
              {{$msg = print $user " a regagné " ($soin.Get $item) " <:pv:712052732873408703>. \n" $user " a maintenant " (toInt ($hp.Get "pv_actuel")) " <:pv:712052732873408703>."}}
              {{$place.Set "s_conso" $mconso}}
              {{$equip.Set $item (sub (toInt ($equip.Get $item)) $amount)}}
              {{$hpS.Set $user $hp}}
              {{dbSet 0 "HP" $hpS}}
            {{else}}
              {{$msg = "Vous ne pouvez pas vous soigner pour le moment : vos HP sont au maximum."}}
            {{end}}
          {{else}}
            {{$place.Set "s_conso" $mconso}}
            {{$equip.Set $item (sub (toInt ($equip.Get $item)) $amount)}}
          {{end}}
        {{else}}
          {{$msg = joinStr "" $user " ne possède pas la quantité spécifiée (" $amount ") pour utiliser " $item "."}}
        {{end}}
      {{if le (toInt ($equip.Get $item)) 0}}
        {{$equip.Del $item}}
      {{end}}
      {{$msg = joinStr "" $msg "\n" $user " : il vous reste " ($place.Get "s_stuff") " places d'équipements et " ($place.Get "s_conso") " places de consommables." }}
      {{dbSet $id "équipement" $equip }}
      {{dbSet $id "place" $place}}
    {{end}}
  {{else}}
    {{$msg = joinStr "" $user " : L'objet n'existe pas dans votre équipement, ou vous n'avez pas la quantité ciblée."}}
  {{end}}
{{end}}
{{sendMessage nil $msg}}
{{deleteTrigger 1}}