{{$cmd := reFind `\$(delwp|delhp)` .Message.Content}}
{{$name := or (reFind `(\>\S*)` .Message.Content) (reFind `<(.*)<` .Message.Content)}}{{$name = joinStr "" (split $name ">")}}{{$name = joinStr "" (split $name "<")}}
{{$user := .Member.Nick}}
{{if eq (len $user) 0}}
  {{$user = .User.Username}}
{{end}}
{{$id := .User.ID}}
{{if .CmdArgs}}
	{{if (userArg (index .CmdArgs 0))}}
	  {{$arg := (userArg (index .CmdArgs 0))}}
    	{{$id = $arg.ID}}
	  {{$user = (getMember $id).Nick}}
    {{if eq (len $user) 0}}
      {{$user = $arg.Username}}
    {{end}}
	{{else if $name}}
		{{$user = title $name}}
    		{{$rr := sdict}}
   		 {{with (dbGet 0 "reroll_List")}}
     			{{$rr = sdict .Value}}
    		{{end}}
    		{{$id = toInt ($rr.Get $user)}}
		{{$idperso := (toRune (lower $name))}}
    		{{range $idperso}}
			{{- $id = add $id . }}
   		 {{- end}}
	{{end}}
{{end}}{{$hpS := sdict }}{{with (dbGet 0 "HP")}}{{$hpS = sdict .Value}}{{end}}{{with ($hpS.Get (str $id))}}{{$user = .Personnage}}{{end}}

{{$idict := str $id}}

{{$groupe := sdict}}
{{with (dbGet .Server.ID "groupe")}}
	{{$groupe = sdict .Value}}
{{end}}

{{$bool := "false"}}
{{range $i, $j := $groupe}}
	{{- if eq $idict $i}}
		{{- $bool = "true"}}
	{{- end -}}
{{end}}

{{if eq $cmd "$delwp"}}
	{{dbDel $id "recharge"}}
	{{dbDel $id "arme"}}
	{{$atq := (dbGet $id "cdatq").Value}}
	{{$supp := (dbGet $id "cdsupp").Value}}
	{{dbDel $id $atq}}
	{{dbDel $id $supp}}
	{{dbDel $id "cdatq"}}
	{{dbDel $id "cdsupp"}}

	{{if eq $bool "true"}}
		{{$groupe.Del $idict}}
	{{end}}
	{{dbSet .Server.ID "groupe" $groupe}}

	Toutes les variables d'armes et de PA de {{$user}} ont été supprimé de la DB !

{{else if eq $cmd "$delhp"}}
	{{$heal := sdict}}
	{{with (dbGet 0 "healer")}}
		{{$heal = sdict .Value}}
	{{end}}
	{{if $heal.Get $idict}}
		{{$heal.Del $idict}}
		{{$user}} a bien été supprimé de la base de donnée des HEALERS.
	{{else}}
		{{$user}} n'existe pas dans la base de donnée de HEALER.
	{{end}}
{{end}}