{{/* Symbol */}}
{{$serverEco := sdict}}
{{with (dbGet .Server.ID "economy")}}
	{{$serverEco = sdict .Value}}
{{end}}

{{$mon := ""}}
{{if $serverEco.Get "symbol"}}
	{{$mon = $serverEco.Get "symbol"}}
{{end}}

{{/* Databases */}}
{{$serverEco := sdict}}
{{with (dbGet .Server.ID "economy")}}
	{{$serverEco = sdict .Value}}
{{end}}

{{$name := or (reFind `(\>\S*)` .Message.Content) (reFind `<(.*)<` .Message.Content)}}{{$name = joinStr "" (split $name ">")}}{{$name = joinStr "" (split $name "<")}}
{{$user := .Member.Nick}}
{{$id := .User.ID }}
{{if $name}}
	{{$rr := sdict}}
	{{with (dbGet 0 "reroll_List")}}
		{{$rr = sdict .Value}}
	{{end}}
	{{$user = title $name}}
	{{$id = (toInt ($rr.Get $user))}}
	{{$idperso := (toRune (lower $name))}}
	{{range $idperso}}
		{{- $id = add $id . }}
	{{- end}}
{{else if eq (len $user) 0}}
	{{$user = .User.Username}}
{{end}}{{$hpS := sdict }}{{with (dbGet 0 "HP")}}{{$hpS = sdict .Value}}{{end}}{{with ($hpS.Get (str $id))}}{{$user = .Personnage}}{{end}}



{{/* Command Body */}}
{{$flag := (reFind `\$(adminmoney|symbol|managecase)` .Message.Content )}}
{{$mention := ""}}


{{ if eq $flag "$adminmoney"}}
	{{$secondflag := ""}}
	{{$target := ""}}
	{{$amount := 0}}
	{{with .CmdArgs}}
		{{$secondflag = (reFind `\-(add|remove|reset|set)` (index . 0))}}
		{{if ge (len .) 2}}
			{{if $name}}
				{{$target = $id}}
				{{$user = $name}}
				{{$mention = $name}}
			{{else}}
				{{with (userArg (index . 1))}}
					{{$target = .}}
					{{$target = $target.ID}}
					{{$mention = joinStr "" "<@" $target ">"}}
					{{$user = (getMember $target).Nick}}
					{{if eq (len $user) 0}}
						{{$user = .}}
            {{$user = $user.Username}}
					{{end}}
				{{end}}
			{{end}}
			{{if ge (len .) 3}}
				{{if not (userArg (index . 2))}}
					{{$amount = toInt (index . 2)}}
				{{else}}
					{{$amount = toInt (index . 3)}}
				{{end}}
			{{end}}
		{{end}}
	{{end}}
	{{if and $secondflag $target}}
		{{$userEco := sdict}}
		{{with (dbGet $target "economy")}}
			{{$userEco = sdict .Value}}
		{{end}}
		{{$bal := (toInt ($userEco.Get "balance"))}}
		{{if eq $secondflag "-add"}}
			{{if $amount}}
				{{$bal = add $bal $amount}}
				{{$embed := cembed
				"author" (sdict "name" $user "icon_url" "https://i.imgur.com/ATSj8fe.png")
				"description" (joinStr " " $mention " a gagné" $amount $mon "\n Somme actualisée :" $bal $mon "")
				"color" 0x8CBAEF}}
				{{sendMessage nil $embed}}
			{{else}}
				Vous avez besoin de spécifier une valeur !
				**Usage : ** `$adminmoney -(add|remove|reset|set) user amount`
			{{end}}
		{{else if eq $secondflag "-remove"}}
			{{if $amount}}
				{{$bal = sub $bal $amount}}
				{{$embed := cembed
				"author" (sdict "name" $user "icon_url" "https://i.imgur.com/ATSj8fe.png")
				"description" (joinStr " " $mention " a perdu" $amount $mon "\n Somme actualisée :" $bal $mon ".")
				"color" 0x8CBAEF}}
				{{sendMessage nil $embed}}
			{{else}}
Vous avez besoin de spécifier une valeur !
**Usage : ** `$adminmoney -(add|remove|reset|set) @/>cible amount`
			{{end}}
		{{else if eq $secondflag "-reset"}}
			{{$bal = 0}}
			Reset de {{$mention}}.
		{{else if eq $secondflag "-set"}}
			{{if $amount}}
				{{$bal = $amount}}
				{{$embed := cembed
				"author" (sdict "name" $user "icon_url" "https://i.imgur.com/ATSj8fe.png")
				"description" (joinStr " "  "La balance de" $mention "a été fixé à :" $amount $mon "\n Somme actualisée :" $bal $mon "")
				"color" 0x8CBAEF}}
				{{sendMessage nil $embed}}
			{{else}}
Vous avez besoin de spécifier une valeur !
**Usage : ** `$adminmoney -(add|remove|reset|set) @/>cible amount`

			{{end}}
		{{end}}
		{{$userEco.Set "balance" $bal}}
		{{dbSet $target "economy" $userEco}}
	{{end}}

{{else if eq $flag "$symbol"}}
	{{$symbol := ""}}
	{{if $serverEco.Get "symbol"}}
		{{$symbol = $serverEco.Get "symbol"}}
	{{end}}
	{{with .CmdArgs}}
		{{if ge (len .) 1}}
			{{if ne (index . 0) "none"}}
				{{$symbol = joinStr " " (slice . 0)}}
			{{else}}
				{{$symbol = ""}}
			{{end}}
		{{end}}
	{{end}}
	{{$serverEco.Set "symbol" $symbol}}
	Le symbole de la monnaie est maintenant : `{{or $symbol "none"}}`

{{else if eq $flag "$managecase"}}
	{{$secondflag := ""}}
	{{$target := ""}}
	{{$item := ""}}
	{{$amount := 1}}
	{{with .CmdArgs}}
		{{if ge (len .) 1}}
			{{$secondflag = (reFind `\-(add|remove|reset|clean|set)` (index . 0))}}
			{{if ge (len .) 2}}
			{{if $name}}
				{{$target = $id}}
				{{$user = $name}}
				{{$mention = $name}}
			{{else}}
				{{with (userArg (index . 1))}}
					{{$target = .}}
					{{$target = $target.ID}}
					{{$mention = joinStr "" "<@" $target ">"}}
					{{if eq (len $user) 0}}
            {{$user = .}}
            {{$user = $user.Username}}
					{{end}}
				{{end}}
			{{end}}
				{{if ge (len .) 3}}
					{{$item = title (index . 2)}}
					{{if ge (len .) 4}}
            {{if not (userArg (index . 2))}}
              {{$amount = or (toInt (index . 3)) 1}}
            {{else}}
              {{$item = title (index . 3)}}
            {{end}}
            {{if ge (len .) 5}}
              {{$amount = or (toInt (index . 4)) 1}}
            {{end}}
					{{end}}
				{{end}}
			{{end}}
		{{end}}
	{{end}}
	{{$typ := reFind `(?i)(chargeur|Sacoche|Sac à dos|Sacoche ceinture|bc|lc|cb|sf|cu|perforant|burst|soutien|altération|schéma|passif|force|résistance|Cognition|furtivité|vision|vitalité|guérison|poigne|épée|masse|pistolet|fusil|canon|\[A\])` $item}}
	{{$typ = lower $typ}}

	{{if eq $typ "chargeur"}}
		{{$weap := reFind `(?i)(fusil|pistolet|canon)` $item}}
		{{$item = print "[CHARGEUR] " (title (lower $weap))}}
	{{else if eq $typ "sacoche" "Sac à dos" "Sacoche ceinture"}}
		{{$item = print "[E] " (title $typ)}}
	{{else if eq $typ "bc"}}
		{{$item = "[C] Biocomposant"}}
	{{else if eq $typ "lc" }}
		{{$item = "[C] Liquide Cytomorphe"}}
	{{else if eq $typ "cb" }}
		{{$item = "[C] Cellule Bionotropique"}}
	{{else if eq $typ "sf" }}
		{{$item = "[C] Substrat Ferreux"}}
	{{else if eq $typ "cu"}}
		{{$item = "[C] Composant Universel"}}
	{{else if eq $typ "perforant" "burst" "soutien" "altération" "schéma" "passif"}}
		{{$item = print "[MODULE] " $typ}}
	{{else if eq $typ "force" "résistance" "cognition" "furtivité" "vision" "vitalité" "guérison"}}
		{{$item = print "[IMPLANT] " $typ}}
	{{else if and (ne $typ "chargeur") (eq $typ "fusil" "pistolet" "poigne" "épée" "masse" "canon") (ne $typ "[A]")}}
		{{$item = print "[A] " (title (lower $item)) }}
	{{end}}
	
	{{if not $secondflag}}
**Usage** : `$managecase -(add|remove|reset|clean|set) @/>cible item amount`
	{{else}}
		{{$userEco := sdict}}
		{{if $target}}
		{{with (dbGet $target "economy")}}
			{{$userEco = sdict .Value}}
		{{end}}
	{{else}}
**Usage** : `$managecase -(add|remove|reset|clean|set) @/>cible item amount`
	{{end}}
	{{if eq $secondflag "-clean"}}
		{{if $target}}
			{{$items := sdict}}
			{{with ($serverEco.Get "Items")}}
				{{$items = sdict .}}
			{{end}}
			{{$itemscslice := cslice}}
			{{$inv := sdict}}
			{{with ($userEco.Get "Inventory")}}
				{{$inv = sdict .}}
			{{end}}
			{{range $k,$v := $items}}
				{{$itemscslice = $itemscslice.Append $k}}
			{{end}}
			{{range $k,$v := $inv}}
				{{if not (in $itemscslice $k)}}
					{{$inv.Del $k}}
				{{end}}
			{{end}}
			Casier de : {{$mention}} Nettoyé !
			{{$userEco.Set "Inventory" $inv}}
		{{end}}

	{{else if eq $secondflag "-reset"}}
		{{if $target}}
			{{$userEco.Del "Inventory"}}
			Reset de l'Casier de : {{$mention}}.
	{{end}}

	{{else if eq $secondflag "-add"}}

		{{$items := sdict}}
		{{with ($serverEco.Get "Items")}}
			{{$items = sdict .}}
		{{end}}
		{{$inv := sdict}}
		{{with ($userEco.Get "Inventory")}}
			{{$inv = sdict .}}
		{{end}}
			{{if $inv.Get $item}}
				{{$inv.Set $item (add (toInt ($inv.Get $item)) $amount)}}
			{{else}}
				{{$inv.Set $item $amount}}
			{{end}}
				{{$userEco.Set "Inventory" $inv}}
				Ajout de : {{$amount}} {{$item}} au casier de {{$mention}}.

		{{else if eq $secondflag "-remove"}}
			{{if $target}}
				{{$items := sdict}}
				{{with ($serverEco.Get "Items")}}
					{{$items = sdict .}}
				{{end}}
				{{$inv := sdict}}
				{{with ($userEco.Get "Inventory")}}
					{{$inv = sdict .}}
				{{end}}
				{{if $inv.Get $item}}
					{{$value := (sub (toInt ($inv.Get $item)) $amount)}}
					{{if gt $value 0}}
						{{$inv.Set $item $value}}
					{{else}}
						{{$inv.Del $item}}
					{{end}}
					{{$userEco.Set "Inventory" $inv}}
					{{$amount}} : {{$item}} du casier de {{$mention}} a été retiré.
				{{else}}
					Cet objet n'existe pas dans le casier cible.
				{{end}}
			{{end}}
		{{else if eq $secondflag "-set"}}
			{{if $target}}
				{{$items := sdict}}
				{{with ($serverEco.Get "Items")}}
					{{$items = sdict .}}
				{{end}}
				{{$inv := sdict}}
				{{with ($userEco.Get "Inventory")}}
					{{$inv = sdict .}}
				{{end}}
						{{$value := $amount}}
						{{if ne $value 0}}
							{{$inv.Set $item $value}}
						{{else}}
							{{$inv.Del $item}}
						{{end}}
						{{$userEco.Set "Inventory" $inv}}
						{{$amount}} : {{$item}} a été mis dans le casier de {{$mention}}
				{{end}}
			{{end}}
			{{if $target}}
				{{dbSet $target "economy" $userEco}}
			{{end}}
		{{end}}
	{{else}}
	**Usage** :
:white_small_square: __Money__ : `$adminmoney -(add|remove|reset|set) @/>cible amount`
:white_small_square: __Symbol__ : `$symbol <symbol>`
:white_small_square: __Manage inventory__ : `$managecase -(add|remove|set) @/>cible item amount`
:white_small_square: __Reset inventory__ : `$managecase -reset @/>cible`
{{end}}

{{/* Database Updates */}}
{{dbSet .Guild.ID "economy" $serverEco}}
{{deleteTrigger 1}}
