{{/* Databases */}}
{{$name := reFind `(\#\S*)` .Message.Content}}
{{$name = joinStr "" (split $name "#")}}
{{$user := .Member.Nick}}
{{$id := .User.ID }}
{{if $name}}
	{{$user = $name}}
	{{$idperso := (toRune (lower $name))}}
	{{range $idperso}}
		{{- $id = add $id . }}
	{{- end}}
{{else if eq (len $user) 0}}
	{{$user = .User.Username}}
{{end}}
{{$target := .User.ID}}
{{$mention := ""}}
{{$msg := ""}}

{{if .CmdArgs}}
	{{if $name}}
    {{$target = $id}}
    {{$user = $name}}
    {{$mention = $name}}
	{{else}}
    {{$target = .User.ID}}
    {{$mention = joinStr "" "<@" $target ">"}}
    {{$user = (getMember $target).Nick}}
  {{end}}
  {{if $target}}
    {{$equip := sdict}}
    {{with (dbGet $target "équipement")}}
      {{$equip = sdict .Value}}
    {{end}}
    {{$place := sdict}}
    {{with (dbGet $target "place")}}
      {{$place = sdict .Value}}
    {{end}}
    {{$sstuff := $place.Get "s_stuff"}}
    {{$sconso := $place.Get "s_conso"}}
    {{$mstuff := $place.Get "max_stuff"}}
    {{$mconso := $place.Get "max_conso"}}

    {{$item := title (index .CmdArgs 0)}}
    {{$amount := 1}}
    {{if gt (len .CmdArgs) 1 }}
      {{$amount = (toInt (index .CmdArgs 1))}}
      {{if $name}}
        {{$amount = 1}}
        {{if gt (len .CmdArgs) 2}}
          {{$amount = (toInt (index .CmdArgs 1))}}
        {{end}}
      {{end}}
    {{end}}
    {{$compo := reFind `(?i)(bc|lc|cb|sf|cu)` $item}}
    {{if ($equip.Get $item)}}
      {{if or (not $compo) (not (reFind `(?:(\[CHARGEUR\]))(?i)(poigne|épée|masse|pistolet|fusil|canon)` $item)) (not (reFind `(?i)chargeur` $item)) (not (reFind `^\[E\]` $item))}}
          {{if lt $amount (toInt ($equip.Get $item))}}
            {{$place.Set "s_conso" (add $amount $sconso)}}
            {{$equip.Set $item (sub (toInt ($equip.Get $item)) $amount)}}
            {{if eq (toInt $amount) 1}}
             {{$msg = joinStr "" $mention " a utilisé un " $item "."}}
            {{else}}
              {{$msg = joinStr "" $mention " a utilisé " $amount $item "."}}
            {{end}}
          {{else if eq $amount (toInt ($equip.Get $item))}}
            {{$place.Set "s_conso" $mconso}}
            {{$equip.Set $item (sub (toInt ($equip.Get $item)) $amount)}}
          {{if eq (toInt $amount) 1}}
             {{$msg = joinStr "" $mention  "a utilisé un " $item "."}}
            {{else}}
              {{$msg = joinStr "" $mention " a utilisé " $amount $item "."}}
            {{end}}
          {{else}}
            {{$msg = joinStr "" $mention " ne possède pas la quantité spécifiée (" $amount ") pour utiliser " $item "."}}
          {{end}}
        {{if le (toInt ($equip.Get $item)) 0}}
          {{$equip.Del $item}}
        {{end}}
        {{$msg = joinStr "" $msg "\n" $mention " : il vous reste " ($place.Get "s_stuff") " places d'équipements et " ($place.Get "s_conso") " places de consommables." }}
        {{dbSet $target "équipement" $equip }}
        {{dbSet $target "place" $place}}
      {{end}}
    {{else}}
      {{$msg = joinStr "" $mention " : L'objet n'existe pas dans votre équipement, ou vous n'avez pas la quantité ciblée."}}
    {{end}}
  {{end}}
{{end}}
{{sendMessage nil $msg}}
{{deleteTrigger 1}}