{{/* Compétence img*/}}
{{$imga:="https://i.imgur.com/zNofnyh.png"}}
{{$imgs :="https://i.imgur.com/9iRdtbM.png" }}
{{$imgm := "https://i.imgur.com/FCy00x2.png"}}

{{$chan := "735938256038002818"}}

{{/* Get joueur */}}

{{$name := reFind `(\>\S*)` .Message.Content}}
{{$name = reReplace `>` $name ""}}
{{$user := .Member.Nick}}
{{$id:= .User.ID}}
{{if $name}}
	{{$user = title $name}}
	{{$idperso := (toRune (lower $name))}}
	{{range $idperso}}
		{{- $id = add $id . }}
	{{- end}}
{{else if eq (len $user) 0}}
	{{$user = .User.Username}}
{{end}}{{$hpS := sdict }}{{with (dbGet 0 "HP")}}{{$hpS = sdict .Value}}{{end}}{{with ($hpS.Get (str $id))}}{{$user = .Personnage}}{{end}}

{{$idict := str $id}}

{{$long := sdict}}
{{with (dbGet 0 "cd_long")}}
  {{$long = sdict .Value}}
{{end}}

{{court := sdict}}
{{with (dbget 0 "cd_court")}}
  {{$court = sdict .Value}}
{{end}}

{{if .CmdArgs}}
	{{if eq (index .CmdArgs 0) "court" "burst" "perforant"}}
    {{$pc := sdict}}
    {{with ($court.Get (str $id))}}
      {{$pc = sdict .}}
    {{end}}
		{{if not (index .CmdArgs 1)}}
			{{print "**ERREUR** : N'oubliez pas d'indiquer le nom de l'attaque"}}
		{{else}}
			{{$name := (index .CmdArgs 1)}}
			{{if not ($pc.Get $name)}}
        {{$pc.Set $name 1}}
        {{$court.Set (str $id) $pc}}
        {{dbSet 0 "cd_court" $court}}
				{{ $embed := cembed
					"author" (sdict "name" $user "icon_url" $imga)
					"description" (joinStr "" "Début de la recharge de la competence " $name "...\n Please wait...")
					"color" 0xDFAA58}}
				{{ $idM := sendMessageRetID $chan $embed }}
			{{else}}
				{{ $embed := cembed
				"author" (sdict "name" $user "icon_url" $imga)
				"description" (joinStr "" "La compétence " $name " est toujours en cooldown... \n Please wait...")
				"color" 0xDFAA58}}
				{{ $idM := sendMessageRetID nil $embed }}
				{{deleteMessage nil $idM 30}}
			{{end}}
		{{end}}
	{{else if (index .CmdArgs 0) "long" "support" "soutien" "malus" "altération" "alter" }}
    {{$pl := sdict}}
    {{with ($long.Get (str $id))}}
      {{$pl = sdict .}}
    {{end}}
		{{if not (index .CmdArgs 1)}}
		  {{print "**ERREUR** : N'oubliez pas d'indiquer le nom de l'attaque"}}
		{{else}}
			{{$name := (index .CmdArgs 1)}}
			{{if not ($pl.Get (str $id))}}
        {{$pl.Set $name 1}}
        {{$long.Set (str $id) $pl}}
        {{dbSet 0 "cd_long" $long}}
				{{ $embed := cembed
					"author" (sdict "name" $user "icon_url" $imga)
					"description" (joinStr "" "Début de la recharge de la competence " $name "...\n Please wait...")
					"color" 0xDFAA58}}
				{{ $idM := sendMessageRetID $chan $embed }}
			{{else}}
				{{ $embed := cembed
				"author" (sdict "name" $user "icon_url" $imga)
				"description" (joinStr "" "La compétence " $name " est toujours en cooldown... \n Please wait...")
				"color" 0xDFAA58}}
				{{ $idM := sendMessageRetID nil $embed }}
				{{deleteMessage nil $idM 30}}
			{{end}}
		{{end}}
	{{else}}
		**USAGE** : `$cd (court|long) "nom"`
	{{end}}
{{else}}
	**USAGE** : `$cd (court|long) "nom"`
{{end}}
{{deleteTrigger 1}}