{{$embed := cembed
"Title" "Rang"
"Description" (print "RANG 1 : " $p1 "\n\n RANG 2 :" $p2 "\n\n RANG 3 :" $p3)
"color" 0xaa6a70
"thumbnail" (sdict "url" "https://i.imgur.com/zOX8QWV.png")
"timestamp" .Current.Time}}
{{editMessage 736937453788725278 765510996290174987 (complexMessageEdit "embed" $embed "content" "")}}