{{$cmd := reFind `\$(pa|pdmin)` .Message.Content}}

{{if eq $cmd "$pa"}}
  {{$desc := ""}}
  {{$col := 16777215}}
  {{$p := 0}}
  {{$r := .Member.Roles}}
  {{range .Guild.Roles}}
  	{{if and (in $r .ID) (.Color) (lt $p .Position)}}
  	{{$p = .Position}}
  	{{$col = .Color}}
  	{{end}}
  {{end}}
  
  {{/* Groupe dictionnaire */}}
  
  {{$groupe := sdict}}
  {{with (dbGet .Server.ID "groupe")}}
  	{{$groupe = sdict .Value}}
  {{end}}
  
  {{/* Get joueur */}}
  
  {{$name := reFind `(\>\S*)` .Message.Content}}
  {{$name = reReplace `>` $name ""}}
  {{$user := .Member.Nick}}
  {{$id:= .User.ID}}
  {{if $name}}
  	{{$user = title $name}}
  	{{$idperso := (toRune (lower $name))}}
  	{{range $idperso}}
  		{{- $id = add $id . }}
  	{{- end}}
  {{else if eq (len $user) 0}}
  	{{$user = .User.Username}}
  {{end}}{{$hpS := sdict }}{{with (dbGet 0 "HP")}}{{$hpS = sdict .Value}}{{end}}{{with ($hpS.Get (str $id))}}{{$user = .Personnage}}{{end}}
  
  {{$idict := str $id}}
  
  	{{/* Compétence */}}

      
  {{$long := sdict}}
  {{with (dbGet 0 "cd_long")}}
    {{$long = sdict .Value}}
  {{end}}
  
  {{court := sdict}}
  {{with (dbget 0 "cd_court")}}
    {{$court = sdict .Value}}
  {{end}}
  
  {{$pc := sdict ($court.Get (str $id))}}
  {{$pl := sdict ($long.Get (str $id))}}
  
  {{$bool := false}}
  {{range $i, $j := $groupe}}
  	{{- if eq $idict $i}}
  		{{- $bool = true}}
  	{{- end -}}
  {{end}}
  
  {{if eq $bool false}}
  	{{$desc = joinStr "4 PA RESTANTS"}}
    {{$v := 0}}
    {{if $pc}}
      {{range $n, $cd := $pc}}
        {{$v = sub 7 $cd}}
        {{if eq $cd 1}}
          {{$v = 6}}
        {{end}}
        {{$desc = print $desc "\n" $v " PA restant(s) avant réutilisation de " $n "."}}
      {{end}}
    {{end}}
    
    {{if $pl}}
      {{$v := 0}}
      {{range $n, $cd := $pl}}
        {{$v = sub 9 $cd}}
        {{if eq $cd 1}}
          {{$v = 8}}
        {{end}}
        {{$desc = print $desc "\n" $cd " PA restant(s) avant réutilisation de " $namesupp "."}}
      {{end}}
    {{end}}
  {{else}}
  	{{$pa := $groupe.Get (str $id)}}
  	{{$desc = joinStr " " $pa " PA RESTANT(S)."}}
   {{if $pc}}
      {{range $n, $cd := $pc}}
        {{$v = sub 7 $cd}}
        {{if eq $cd 1}}
          {{$v = 6}}
        {{end}}
        {{$desc = print $desc "\n" $v " PA restant(s) avant réutilisation de " $n "."}}
      {{end}}
    {{end}}
    
    {{if $pl}}
      {{$v := 0}}
      {{range $n, $cd := $pl}}
        {{$v = sub 9 $cd}}
        {{if eq $cd 1}}
          {{$v = 8}}
        {{end}}
        {{$desc = print $desc "\n" $cd " PA restant(s) avant réutilisation de " $namesupp "."}}
      {{end}}
      {{end}}
  
  {{$embed := cembed
  	"author" (sdict "name" $user "icon_url" "https://i.imgur.com/VvOhTON.png")
  	"description" $desc
  	"color" $col}}
  {{sendMessage nil $embed}}
  {{deleteTrigger 1}}
  
{{else if and (eq $cmd "$pdmin") (hasRoleID 709795313279565906)}}
  {{$grp := sdict}}
  {{with (dbGet .Server.ID "groupe")}}
    {{$grp = sdict .Value}}
  {{end}}
  
  {{$player := sdict}}
  {{with (dbGet 0 "HP")}}
    {{$player = sdict .Value}}
  {{end}}
  
  {{$msg := ""}}
  
  {{range $i, $j := $grp}}
    {{with ($player.Get (str $i))}}
      {{$msg = print $msg ":white_small_square:" .Personnage " : " $j " PA" "\n"}}
    {{end}}
  {{end}}
  
  {{print $msg}}
{{end}}
{{deleteTrigger 1}}