{{$imgpa := "https://i.imgur.com/JiSwKqK.png"}}


{{$desc := ""}}
{{$col := 16777215}}
{{$p := 0}}
{{$r := .Member.Roles}}
{{range .Guild.Roles}}
	{{if and (in $r .ID) (.Color) (lt $p .Position)}}
	{{$p = .Position}}
	{{$col = .Color}}
	{{end}}
{{end}}

{{/* Groupe dictionnaire */}}

{{$groupe := sdict}}
{{with (dbGet .Server.ID "groupe")}}
	{{$groupe = sdict .Value}}
{{end}}

{{/* Get joueur */}}

{{$name := reFind `(\>\S*)` .Message.Content}}
{{$name = joinStr "" (split $name ">")}}
{{$user := .Member.Nick}}
{{$id:= .User.ID}}
{{if $name}}
	{{$user = $name}}
	{{$idperso := (toRune (lower $name))}}
	{{range $idperso}}
		{{- $id = add $id . }}
	{{- end}}
{{else if eq (len $user) 0}}
	{{$user = .User.Username}}
{{end}}

{{$user = title $user}}
{{$idict := str $id}}

{{$bool := false}}
{{range $i, $j := $groupe}}
	{{- if eq $idict $i}}
		{{- $bool = true}}
	{{- end -}}
{{end}}

{{if eq $bool false}}
	{{$desc = joinStr "4 PA RESTANTS"}}
{{else}}
	{{$pa := $groupe.Get (str $id)}}
	{{$desc = joinStr " " $pa " PA RESTANTS."}}
{{end}}

{{$embed := cembed
	"author" (sdict "name" $user "icon_url" $imgpa)
	"description" $desc
	"color" $col}}
{{sendMessage nil $embed}}
{{deleteTrigger 1}}