{{/* Groupe dictionnaire */}}
{{$groupe := sdict}}
{{with (dbGet .Server.ID "groupe")}}
  {{$groupe = sdict .Value}}
{{end}}

{{$position := sdict}}
{{with (dbGet 0 "position")}}
  {{$position = sdict .Value}}
{{end}}

{{$pos := sdict}}
{{with ($position.Get (str .Channel.ID))}}
  {{$pos = sdict .}}
{{end}}

{{/* Get joueur */}}
{{$name :=(reFind `((>\S*[^<\:\w+\:\d+)]>\S*)|>\S*)` .Message.Content)}}
{{$name = reReplace `>` $name ""}}
{{$name = reReplace `\s` $name ""}}
{{$arg := (reFind `<@!?\d{17,}>` .Message.Content)}}
{{$user := .Member.Nick}}
{{$id := .User.ID}}
{{if and $name (not (hasRoleID 709795313279565906))}}
	{{$user = title $name}}
	{{$idperso := (toRune (lower $name))}}
	{{range $idperso}}
		{{- $id = add $id . }}
	{{- end}}
{{else if and $name (hasRoleID 709795313279565906)}}
  {{$user = title $name}}
  {{$rr := sdict}}
  {{with (dbGet 0 "reroll_List")}}
    {{$rr = sdict .Value}}
  {{end}}
  {{$id = toInt ($rr.Get $user)}}
  {{$idperso := (toRune (lower $name))}}
  {{range $idperso}}
    {{- $id = add $id . }}
  {{- end}}
{{else if and $arg (hasRoleID 709795313279565906)}}
  {{$arg = userArg $arg}}
  {{$id = $arg.ID}}
  {{$user = (getMember $id).Nick}}
  {{if eq (len $user) 0}}
    {{$user = $arg.Username}}
  {{end}}
{{else if eq 0 (len $user)}}
  {{$user = .User.Username}}
{{end}}
{{$hpS := sdict }}{{with (dbGet 0 "HP")}}{{$hpS = sdict .Value}}{{end}}{{with ($hpS.Get (str $id))}}{{$user = .Personnage}}{{end}}
{{$idict := str $id}}

{{$bool := false}}
{{range $i, $j := $groupe}}
  {{- if eq $idict $i}}
    {{- $bool = true}}
  {{- end -}}
{{end}}
{{$pa := $groupe.Get (str $id)}}
	{{if not $pa}}
		{{$groupe.Set (str $id) 4}}
		{{$pa = 4}}
	{{end}}
{{dbSet .Server.ID "groupe" $groupe}}
{{$desc := ""}}

{{if .CmdArgs}}
  {{$posarg := index .CmdArgs 0}}
  {{$item := $user}}
  {{$s := title "à couvert"}}
  {{if or $name $arg}}
    {{if and (ge (len .CmdArgs) 3) (not (reFind `-s` .Message.Content))}}
      {{$item = title (lower (index .CmdArgs 1))}}
      {{$s = 1}}
    {{else if and (ge (len .CmdArgs) 3) (reFind `-s` .Message.Content)}}
      {{$s = title (lower (index .CmdArgs 2))}}
    {{end}}
  {{else}}
    {{if and (ge (len .CmdArgs) 2) (not (reFind `-s` .Message.Content))}}
      {{$item = title (lower (index .CmdArgs 1))}}
      {{$s = 1}}
    {{else if and (ge (len .CmdArgs) 2) (reFind `-s` .Message.Content)}}
      {{$s = title (lower (index .CmdArgs 2))}}
    {{end}}
  {{end}}
  {{if (reFind `\<\:\w+\:\d+>` $item)}}
    {{$item = $user}}
    {{$s = title "à couvert"}}
  {{end}}
  {{if eq $posarg "1" "2" "3"}}
    {{$p := sdict}}
    {{with ($pos.Get $posarg)}}
      {{$p = sdict .}}
    {{end}}
    {{if gt $pa 0}}
      {{if eq (toInt $s) 1}}
        {{$p.Set $item (add ($p.Get $item) 1)}}
        {{$desc = print $user " a perdu " $item " au rang " $posarg "."}}
      {{else}}
        {{$p.Set $item $s}}
        {{$desc = print $user " s'est déplacé au rang " $posarg ", et est en position " $s "."}}
      {{end}}
      {{$pos.Set $posarg $p}}
      {{range $i, $j := $pos}}
        {{$j = sdict $j}}
        {{if and ($j.Get $item) (ne $i $posarg)}}
          {{if eq (toInt $s) 1}}
            {{$j.Set $item (sub ($j.Get $item) 1)}}
          {{else}}
            {{$j.Del $item}}
          {{end}}
          {{$pos.Set $i $j }}
        {{end}}
      {{end}}
      {{$pos.Set $posarg $p}}
    {{else}}
      {{$desc = "PA insuffisants pour réaliser l'action."}}
    {{end}}
    {{$position.Set (str .Channel.ID) $pos}}
  {{else if eq $posarg "-del"}}
    {{$check := "false"}}
    {{$posi := ""}}
    {{if ge (len .CmdArgs) 2}}
      {{$item = index .CmdArgs 1}}
      {{range $i, $j := $pos}}
        {{$j = sdict $j}}
        {{if (ge (toInt ($j.Get $item)) 1)}}
          {{if and ($j.Get $user) ($j.Get $item)}}
            {{$j.Set $item (sub ($j.Get $item) 1) }}
            {{$check = "i"}}
            {{$posi = $i}}
            {{if le ($j.Get $item) 0}}
              {{$j.Del $item}} 
            {{end}}
            {{$pos.Set $i $j}}
          {{else}}
            {{$check = "true"}}
          {{end}}
          {{$pos.Set $i $j}}
        {{end}}
      {{end}}
      {{if eq $check "true"}}
        {{$desc = "Vous ne pouvez pas récupérer un objet qui n'est pas sur le même rang que vous."}}
      {{else if eq $check "false"}}
        {{$desc = "L'objet n'existe pas."}}
      {{else if eq $check "i"}}
        {{$desc = print $user " a retiré " $item " de la position " $posi "."}}
      {{end}}
    {{else}}
      {{$desc = "Erreur, vous avez oublié le nom de l'objet"}}
    {{end}}
    {{$position.Set (str .Channel.ID) $pos}}
  {{else if and (eq $posarg "-admindel") (hasRoleID 709795313279565906)}}
  {{$chan := ""}}
  {{$del := "v"}}
    {{if ge (len .CmdArgs) 2}}
      {{$item = (index .CmdArgs 1)}}
      {{range $i, $j := $position}}
        {{$j = sdict $j}}
        {{range $k, $v := $j}}
          {{$v = sdict $v}}
          {{if ge (toInt ($v.Get $item)) 1}}
            {{$v.Set $item (sub ($v.Get $item) 1)}}
            {{if le ($v.Get $item) 0}}
              {{$v.Del $item}}
            {{end}}
            {{$del = "t"}}
            {{print "Objet supprimé"}}
            {{$j.Set $k $v}}
            {{$position.Set $i $j}}
          {{else}}
            {{$del = "n"}}
          {{end}}
        {{end}}
      {{end}}
      {{if eq $del "n"}}
        {{print "L'objet n'existe pas"}}
      {{else if eq $del "t"}}
        {{print "Objet supprimé"}}
      {{end}}
      {{dbSet 0 "position" $position}}
    {{else}}
      {{$desc = "Nom de l'objet"}}
    {{end}}
  {{else}}
    {{$desc = "Erreur : vous devez rentrer une commande."}}
  {{end}}
{{else}}  
  {{$desc = "Erreur : vous devez rentrer une commande"}}
{{end}}
{{$t:=sendMessageRetID nil $desc}}
{{deleteMessage nil $t 180}}
{{dbSet 0 "position" $position}}
{{$px := ""}}
{{$r := ""}}
{{$o := ""}}
{{$msg := ""}}
{{$k := sdict}}
{{range $i, $j := $position}}
  {{range $k, $l := $j}}
    {{range $x, $y := $l}}
      {{if eq $o $i}}
        {{if eq $px $k}}
          {{$msg = print $msg "\n<:tr:724626754282717194><:tr:724626754282717194>:white_small_square: " $x " : " $y}}
        {{else}}
          {{$msg = print $msg "\n\n <:tr:724626754282717194>◽ ** Rang " $k "** :\n<:tr:724626754282717194><:tr:724626754282717194>:white_small_square: " $x " : " $y}}
        {{end}}
      {{else}}
        {{$msg = print $msg "\n" "💠<#" $i ">\n <:tr:724626754282717194>◽ ** Rang " $k "** :\n <:tr:724626754282717194><:tr:724626754282717194>:white_small_square: " $x " : " $y}}
      {{end}}
    {{$o = $i }}
    {{$px = $k}}
    {{end}}
  {{end}}
{{end}}
{{deleteTrigger 1}}
{{$embed := cembed
"Title" "Placement & Combat"
"Description" (print $msg)
"color" 0xaa6a70
"thumbnail" (sdict "url" "https://i.imgur.com/zOX8QWV.png")
"timestamp" currentTime}}
{{editMessage 736937453788725278 765510996290174987 (complexMessageEdit "embed" $embed "content" "")}}
